// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import 'vue-form-wizard/dist/vue-form-wizard.min.css';
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.wizard-progress-with-circle {
    display: none;
}

ul.wizard-nav.wizard-nav-pills {
    display: none;
}
.vue-form-wizard .wizard-tab-content {
    min-height: 100px;
    padding: 0px;
}

button.wizard-btn {
    background: #f69321 !important;
    color: #fff !important;
    font-size: 16px !important;;
    font-weight: bold !important;;
    padding: 16px 60px !important;;
    border-radius: 50px !important;;
    border: 0px solid #f69321 !important;;
    text-transform: uppercase !important;;
    height: auto !important;;
}

.vue-form-wizard .wizard-card-footer {
    padding: 0px 34%;
}

// button.yelloww-btn {
//     display: none !important;
// }

// .bluee-btn{
//     display: none !important;
// }
// .yelloww-btn {
//     display: none !important;
// }
