<template>
    <div>
            <top-header></top-header>
            <slot></slot>
            <footers></footers>
    </div>
</template>

<script>
import TopHeader from '../../components/Header.vue';
import Footers from '../../components/InnerFooter.vue';
export default {
    name:'Layout',
    components:{
        TopHeader,
        Footers
        }
}
</script>