<template>
    <div>
        <nav class="header-navbar navbar-expand-md navbar navbar-with-menu fixed-top navbar-light navbar-border">
		<div class="navbar-wrapper">
			<div class="navbar-header">
				<ul class="nav navbar-nav flex-row">
					<li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu font-large-1"></i></a>
					</li>
					<li class="nav-item"> <router-link :to="{name:'dashboard'}" class="navbar-brand"> <img class="brand-logo img-fluid" alt="stack admin logo" :src="base_url+'/images/logo.png'"/></router-link> </li>
					<li class="nav-item d-md-none"> <a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i class="fa fa-ellipsis-v"></i></a> </li>
				</ul>
			</div>
			<div class="navbar-container content">
				<div class="collapse navbar-collapse" id="navbar-mobile">
					<ul class="nav navbar-nav mr-auto float-left">
					</ul>
					<ul class="nav navbar-nav float-right">
						<li class="dropdown dropdown-notification nav-item test" v-if="notifications != ''"> <a class="nav-link nav-link-label" href="#" data-toggle="dropdown"><i class="ficon ft-bell"></i> <span class="badge badge-pill badge-default badge-danger badge-default badge-up">{{countNotification}}</span> </a>
							<ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
								<li class="scrollable-container media-list ps-container ps-theme-dark ps-active-y" data-ps-id="75e644f2-605d-3ecc-f100-72d86e4a64d8" v-for="notification in notifications" :key="notification.id"> 
										<div class="media">
											<div class="media-left"><i class="fa grey-text fa-bell"></i>
											</div>
											<a :href="base_url+notification.url"  @click="getSingleNotification(notification.id)" id="notification">
											<div class="media-body">
												<p class="notification-text font-small-3 text-muted">{{notification.message}}</p>
												<small>
												<time class="media-meta text-muted yellow-text" datetime="2015-06-11T18:29:20+08:00">{{dateFormat(notification.created_at)}}</time>
												</small>
											</div>
											</a>
										</div>
								</li>
										<li class="dropdown-menu-footer"><router-link :to="{path:'/admin/notifications'}" class="dropdown-item ml-3 black-text">View all</router-link>
								  </li>
							</ul>
						</li>
							<li class="dropdown dropdown-notification nav-item test" v-else> <a class="nav-link nav-link-label" href="#" data-toggle="dropdown"><i class="ficon ft-bell"></i> <span class="badge badge-pill badge-default badge-danger badge-default badge-up">{{countNotification}}</span> </a>
							<ul class="dropdown-menu dropdown-menu-media dropdown-menu-right">
								<li class="scrollable-container media-list ps-container ps-theme-dark ps-active-y" data-ps-id="75e644f2-605d-3ecc-f100-72d86e4a64d8"> 
									<a href="javascript:void(0)">
										<div class="media">
											<div class="media-left"><i class="fa grey-text fa-bell"></i>
											</div>
											<div class="media-body">
												<p class="notification-text font-small-3 text-muted">No Notification Found!...</p>
											</div>
										</div>
									</a>
							    	</li>
									<li class="dropdown-menu-footer"><router-link :to="{path:'/admin/notifications'}" class="dropdown-item ml-3 black-text">View all</router-link>
								  </li>
							</ul>
						</li>
						<li class="dropdown dropdown-user nav-item"> <a class="dropdown-toggle nav-link dropdown-user-link" href="#" data-toggle="dropdown"> <span class="avatar avatar-online"><img :src="base_url+`/uploads/${user.profile}`"> </span> <span class="user-name">{{user.first_name}}</span> </a>
							<div class="dropdown-menu dropdown-menu-right"><router-link :to="{name:'profile'}" class="dropdown-item"><i class="fa fa-user-circle"></i>Profile</router-link>
								<router-link :to="{name: 'logout'}" class="dropdown-item"><i class="fa fa-power-off"></i> Logout</router-link> </div>
						</li>
						<li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i class="ft-menu"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
    </div>
</template>

<script>
import moment from 'moment';
export default {
    name:'Header',
	data(){
		return{
			base_url:base_url,
			id:'',
			user:'',
			notifications:[],
			base_url:base_url,
			countNotification:''
		}
	},
	created(){
	this.getNotifications()
	this.getLoginUser()
	},
	methods:{
		dateFormat : function (date) {
        return moment(date, 'YYYY-MM-DD').format("MM/D/YYYY");
        },
		getLoginUser(){
		this.id = localStorage.getItem('admin')
		//alert(this.id)	
		try{
		axios({
		url:'loginUser?id='+this.id,
		method:'get',
		}).then((response)=>{
		if(response.status == 200){
		 this.user = response.data
		}	
		})	
		}catch(err){
			console.log(err)
		}
		},
		async getNotifications(){
	    let id = localStorage.getItem('user')	
	    let response = await axios.get('notifications',{params:{id:id}})
		if(response){
        this.notifications = response.data.notifications 
		this.countNotification =response.data.count
		}else{
        this.$toasted.error(response.data.meesage) 
		}	
		},
		async getSingleNotification(id){	
		this.countNotification --;
		let response = await axios.post('readNotification',{params:{id:id}})
		if(response){
        this.notifications = response.data.notifications 
		this.countNotification =response.data.count
		}else{
        this.$toasted.error(response.data.meesage) 
		}

		}

	}
}


</script>