<template>
<div>
<layout>
<section class="inner-bg">
    <div class="heding-txt">
        <h3>ABOUT US</h3>
    </div>
</section>
<section class="service-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <img :src="base_url+'/public/assets/user/images/about-us-pic.png'" class="img-fluid" alt="">
            </div>
            <div class="col-lg-7">
                <div class="contact-txt2">
				    <img :src="base_url+'/public/assets/user/images/contact-line.png'" class="img-fluid" alt="">
                    <h2>Introduction</h2>
                </div>
                <div class="about-txt">
                    <h2>Some Thing Know About <br> Who We Are</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the when an unknown printer took a galley of type
                        and scrambled it to make a type specimen book. <br> <br>

                        It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged. <br> <br>

                        It was popularised in the with the release of Letraset sheets containing Lorem Ipsum passages,
                        and more recently with desktop publishing software like Aldus PageMaker including versions of
                        Lorem Ipsum.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                        took a galley of type and scrambled it to make a type specimen book. It has survived not only
                        five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                        passages, and more recently with desktop publishing software like Aldus PageMaker including
                        versions of Lorem Ipsum.</p> <br>


                    <div class="media align-items-center">
						<img :src="base_url+'/public/assets/user/images/images/media-pic.png'" class="img-fluid" alt="">
                        <div class="media-body">
                            <h5 class="mt-0">Richard s Hobbs</h5>
                            <p>CEO & Founder</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</layout>
</div>
</template>
<script>
import Layout from './layout/home/Layout.vue';
export default {
    name:'Profile',
    data(){
        return{
            user:'',
            id:'',
            checkCurrantPass:'',
            currantPassword:'',
            newPassword:'',
            confirmPassword:'',
            checkPassErr:'',
			errors:[],
			base_url:base_url
        }
    },
  
    components:{Layout},
}
</script>
