<template>
    <div>
<layout>   
<section class="inner-bg">
</section>

<section class="main-card">
    <div class="container">
        <div class="card">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="head2">Already Have Account? <router-link :to="{name:'login'}">Login Here</router-link></h2>
                    <div class="attached"> <img :src="profile || base_url+'/public/assets/user/images/epic.png'" class="img-fluid" alt="">
                        <button type="button" name="file" class="camera-btn"
                            onclick="document.getElementById('upload').click()"><i class="fa fa-camera"></i></button>
                        <input type="file" id="upload" name="file" ref="profile" @change="setImage">
                        <span v-if="errors.profile" class="error">{{errors.profile[0]}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="for-blue-head">
                        <h3>Personal Information</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="for-padd">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="first_name">First Name*</label>
                                    <input type="text" class="form-control" id="first_name"
                                        placeholder="Enter First Name" v-model="first_name">
                                        <br />
                                        <span v-if="errors.first_name" class="error">{{errors.first_name[0]}}</span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="last_name">Last Name*</label>
                                    <input type="text" class="form-control" id="last_name"
                                        placeholder="Enter Last Name" v-model="last_name">
                                        <br />
                                        <span v-if="errors.last_name" class="error">{{errors.last_name[0]}}</span>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="phone_number">Phone Number*</label> <br>
                                    <input type="number" class="form-control" placeholder="+1" id="phone_number" v-model="phone_no">
                                        <br />
                                        <span v-if="errors.phone_no" class="error">{{errors.phone_no[0]}}</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="for-blue-head">
                        <h3>Billing Address</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="for-padd">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    <label for="address">Address*</label>
                                    <input type="text" class="form-control" id="address"
                                        placeholder="Enter Address" v-model="address">
                                      <br/>
                                        <span v-if="errors.address" class="error">{{errors.address[0]}}</span>   
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="city">City</label>
                                    <input type="text" class="form-control" id="city"
                                        placeholder="Enter City" v-model="city">
                                        <br/>
                                        <span v-if="errors.city" class="error">{{errors.city[0]}}</span>   
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="country">County</label>
                                    <input type="text" class="form-control" id="country" placeholder="Enter County" v-model="country">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="post_code">Postcode</label>
                                    <input type="number" class="form-control" id="post_code"
                                        placeholder="Enter Postcode" v-model="post_code">
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="country">Country</label>
                                    <input type="text" class="form-control" id="country"
                                        placeholder="Enter Country">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="email">Email Address*</label>
                                    <input type="email" class="form-control" id="email"
                                        placeholder="Enter Address" v-model="email">
                                      <br/>
                                    <span v-if="errors.email" class="error">{{errors.email[0]}}</span> 
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="password">Password</label>
                                    <input :type="passwordEye" class="form-control" id="password"
                                        placeholder="Enter Password" v-model="password">
                                        <button type="button" class="view-btn-eye"><i @click.prevent="togglePasswordEye('passwordEye','passwordClass')" :class="passwordClass" class="fa fa-eye"></i></button> 
                                    <br/>
                                    <span v-if="errors.password" class="error">{{errors.password[0]}}</span> 
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="confirm_password">Confirm Password</label>
                                    <input :type="passwordEyee" class="form-control" id="confirm_password"
                                        placeholder="Enter Confirm Password" v-model="confirm_password">
                                        <button type="button" class="view-btn-eye"><i @click.prevent="togglePasswordEyee('passwordEyee','passwordClasss')" :class="passwordClasss" class="fa fa-eye"></i></button> 
                                            <br/>
                                    <span v-if="errors.confirm_password" class="error">{{errors.confirm_password[0]}}</span> 
                                </div>
                            </div>
                            <div class="blue-p">
                                <p>Note: Prefer to use your professional email address</p>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="yelloww-btn" @click.prevent="create">Signup</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</layout>
</div>
</template>

<script>
import Layout from './layout/innerpages/Layout.vue';
export default {
    name:'AddCustomerResidential',
    components:{Layout},
    data(){
        return{
                    image:'',
                    first_name:'',
                    last_name:'',
                    email:'',
                    password:'',
                    confirm_password:'',
                    phone_no:'',
                    address:'',
                    city:'',
                    country:'',
                    post_code:'',
                    profile:'',
                    user_type:'Customer',
                    errors:[],
                    base_url:base_url,
                    passwordClass : 'fa-eye',
                    passwordEye: 'password',
                    passwordClasss : 'fa-eye',
                    passwordEyee: 'password',
                    successMsg:''
             
        }
    },
             created(){
             $('.modal-backdrop').remove();
             },
            methods:{
            togglePasswordEye(passwordVar,classVar){
                    this[passwordVar] = this[passwordVar] == 'password'?"text": "password";
                    this[classVar] = this[passwordVar] == 'password'?"fa-eye": "fa-eye-slash";
                    },
            togglePasswordEyee(passwordVar,classVar){
                   this[passwordVar] = this[passwordVar] == 'password'?"text": "password";
                   this[classVar] = this[passwordVar] == 'password'?"fa-eye": "fa-eye-slash";   
                },    
            create(){
                let data = new FormData(this.$refs.customer_registration);
                data.append('first_name', this.first_name)
                data.append('last_name', this.last_name)
                data.append('email', this.email)
                data.append('password', this.password)
                data.append('confirm_password', this.confirm_password)
                data.append('phone_no', this.phone_no)
                data.append('address', this.address)
                data.append('city', this.city)
                data.append('country', this.country)
                data.append('post_code', this.post_code)
                data.append('profile', this.profile)
                data.append('user_type', this.user_type)
                data.append('profile',this.$refs.profile.files[0]);
                axios({
                url:'user/registerCustomer',
                method:'post',
                data:data
                }).then((response)=>{     
                this.$toasted.success(response.data.message).goAway(2000);  
                this.$router.push('/user/login');
                }).catch((error)=>{ 
                this.errors = error.response.data.errors;          
                })
                
          },

            setImage: function (e) {
                    const file = e.target.files[0]
                    console.log(file);
                    if (!file.type.includes('image/')) {
                        alert('Please select an image file')
                        return
                    }
                    if (typeof FileReader === 'function') {
                        const reader = new FileReader()
                        reader.onload = (event) => {
                        this.profile = event.target.result
                        console.log(this.profile);
                        }
                        reader.readAsDataURL(file)
                    } else {
                        alert('Sorry, FileReader API not supported')
                    }
                    },
    }

}
</script>

<style scoped>
.error{
    color:red
}
.content-body {
    margin-top: 4%;
}
</style>
