<template>
<div>
<layout>

<section class="inner-bg">
    <div class="heding-txt">
        <h3>CONTACT US</h3>
    </div>
</section>

<section class="service-box">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="contact-txt">
                    <img :src="base_url+'/public/assets/user/images/contact-line.png'" alt="">
                    <h2>Contact Us</h2>
                </div>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">First Name</label>
                            <input type="text" class="form-control" id="inputEmail4" placeholder="Enter First Name" v-model="contact.first_name">
                             <span v-if="errors.first_name" class="error">{{errors.first_name[0]}}</span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Last Name</label>
                            <input type="text" class="form-control" id="inputPassword4"
                                placeholder="Enter Last Name" v-model="contact.last_name">
                            <span v-if="errors.last_name" class="error">{{errors.last_name[0]}}</span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Email Address</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="Enter Email Address" v-model="contact.email">
                         <span v-if="errors.email" class="error">{{errors.email[0]}}</span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputPassword4">Phone Number</label>
                           <input type="number" class="form-control" placeholder="+1" id="phone_number" v-model="contact.phone_number">
                            <span v-if="errors.phone_number" class="error">{{errors.phone_number[0]}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputAddress">Subject</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="Enter Subject" v-model="contact.subject">
                        <span v-if="errors.subject" class="error">{{errors.subject[0]}}</span>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlTextarea1">Message</label>
                        <textarea class="form-control txt-box" id="exampleFormControlTextarea1" rows="4"
                            placeholder="Enter Message" v-model="contact.message"></textarea>
                    <span v-if="errors.message" class="error">{{errors.message[0]}}</span>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="yelloww-btn" @click.prevent.stop="send">SUBMIT</button>
                    </div>
                </form>
            </div>
            <div class="col-lg-5">
               <img :src="base_url+'/public/assets/user/images/study-pic.png'" alt="">
            </div>
        </div>
    </div>
</section>
</layout>
</div>
</template>
<script>
import Layout from './layout/home/Layout.vue';
export default {
    name:'Profile',
    data(){
        return{
            contact:{
                first_name:'',
                last_name:'',
                email:'',
                phone_number:'',
                subject:'',
                message:'',
            },
			base_url:base_url,
            errors:[]
        }
    },
  
    components:{Layout},

    methods:{
        	 send(){
				axios({
                url: "user/contactUs",
                method: "post",
                data: this.contact,
                })
                .then((response) => {
                this.errors = []  
                this.contact = "";   
                this.$toasted.success(response.data.message).goAway(2000);    
                })
                .catch((error) => {
                this.errors = error.response.data.errors;
               // this.$toasted.error(error.response.data.message).goAway(2000);
                });
			},
    }
}
</script>
