<template>
 <div>
<layout>
<section class="inner-bg">
</section>   
<section class="main-card">
    <div class="container">
        <div class="card">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="blue-txt2">Edit Profile</h2>
                    <div class="attached"> <img :src=" profile || base_url+`/uploads/${user.profile}`" class="img-fluid" alt="">
                        <button type="button" name="file" class="camera-btn"
                            onclick="document.getElementById('upload').click()"><i class="fa fa-camera"></i></button>
                        <input type="file" id="upload" ref="profile" name="file" @change="setImage">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="for-blue-head">
                        <h3>Personal Information</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="for-padd">
                        <form ref="edit_profile_form">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="first_name">First Name</label>
                                    <input type="text" class="form-control" id="first_name"
                                       v-model="user.first_name">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="last_name">Last Name</label>
                                    <input type="text" class="form-control" id="last_name"
                                        v-model="user.last_name">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="phone">Phone Number</label> <br>
                                    <input type="number" class="form-control" v-model="user.phone_no">
                                    <br />
                                    <span v-if="errors.phone_no" class="error">{{errors.phone_no[0]}}</span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="post_code">Postcode</label>
                                    <input type="number" class="form-control" id="post_code" v-model="user.post_code">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="company_number">Company Number</label>
                                    <input type="number" class="form-control" id="company_number" v-model="user.company_no">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="company">Company</label>
                                    <input type="text" class="form-control" id="company"
                                        placeholder="Abc Company" v-model="user.company">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="vat_no">VAT Number</label>
                                    <input type="number" class="form-control" id="vat_no" v-model="user.vat_no">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="address">Address</label>
                                    <input type="text" class="form-control" id="address"
                                        placeholder="Abc street 123 road"  v-model="user.address">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="country">Country</label>
                                    <input type="text" class="form-control" id="country" v-model="user.country">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="city">City</label>
                                    <input type="text" class="form-control" id="city" v-model="user.city">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="for-padd">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <button type="button" class="bluee-btn" data-toggle="modal"
                                        data-target="#change-pass">Change Password</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="row m-auto">
                <div class="col-lg-12">
                    <button type="button" class="yelloww-btn" @click.prevent="updateProfile(user)">Update</button>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- modal1 -->
<div class="modal fade blocked-modal" id="change-pass" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-5">
                <div class="row pb-4">
                    <div class="col-12 text-center">
                        <h1 class="modal-h1">Change Password </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="password">Current Password</label>
                                    <input :type="passwordEye" class="form-control log2" id="password"
                                        placeholder="Enter Current Password" v-model="currantPassword">
                                    <button class="view-btn-eye ch-pass"><i @click.prevent="togglePasswordEye('passwordEye','passwordClass')" :class="passwordClass" class="fa fa-eye"></i></button>
                                <span v-if="errors.currantPassword" class="error">{{errors.currantPassword[0]}}</span>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="new_password">New Password</label>
                                    <input :type="passwordEyee" class="form-control log2" id="new_password"
                                       placeholder="Enter New Password" v-model="newPassword">
                                    <button class="view-btn-eye ch-pass"><i @click.prevent="togglePasswordEyee('passwordEyee','passwordClasss')" :class="passwordClasss"  class="fa fa-eye"></i></button>
                                <span v-if="errors.newPassword" class="error">{{errors.newPassword[0]}}</span>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="confirm_password">Confirm New Password</label>
                                    <input :type="passwordEyeee" class="form-control log2" id="confirm_password"
                                         placeholder="Enter Confirm Password" v-model="confirmPassword">
                                    <button class="view-btn-eye ch-pass"><i @click.prevent="togglePasswordEyeee('passwordEyeee','passwordClassss')" :class="passwordClassss" class="fa fa-eye"></i></button>
                                <span v-if="errors.confirmPassword" class="error">{{errors.confirmPassword[0]}}</span>
                                </div>
                            </div>
                             <div class="row mt-4">
                            <div class="col-12 text-center">
                                <button type="submit" class="yelloww-btn-modal" @click.prevent="changePassword(user.id)">UPDATE</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- modal1 end -->
</layout>
 </div>
</template>

<script>
import Layout from './layout/innerpages/Layout.vue';
import moment from 'moment';
export default {
    name:'EditProfile',
    components:{Layout},
    data(){
        return{
            user:'',
            id:'',
            first_name:'',
            last_name:'',
            email:'',
            phone_no:'',
            address:'',
            city:'',
            country:'',
            post_code:'',
            profile:'',
            currantPassword:'',
            newPassword:'',
            confirmPassword:'',
            errors_exist:[],
            errors:[],
            base_url:base_url,
            profile:'',

            passwordClass : 'fa-eye',
            passwordEye: 'password',
            passwordClasss : 'fa-eye',
            passwordEyee: 'password',
            passwordClassss : 'fa-eye',
            passwordEyeee: 'password',
        }
    },
    created(){
        // let token = localStorage.getItem('token')
        // if(token == null){
        // this.$router.push('/login/admin');
        // this.$toasted.error('Frist you login with your account').goAway(2000);
        // } 
        this.editProfile();
    },

    methods:{
        togglePasswordEye(passwordVar,classVar){
        this[passwordVar] = this[passwordVar] == 'password'?"text": "password";
        this[classVar] = this[passwordVar] == 'password'?"fa-eye": "fa-eye-slash";
      },
       togglePasswordEyee(passwordVar,classVar){
        this[passwordVar] = this[passwordVar] == 'password'?"text": "password";
        this[classVar] = this[passwordVar] == 'password'?"fa-eye": "fa-eye-slash";
      }, 
        togglePasswordEyeee(passwordVar,classVar){
        this[passwordVar] = this[passwordVar] == 'password'?"text": "password";
        this[classVar] = this[passwordVar] == 'password'?"fa-eye": "fa-eye-slash";
      },
            changePassword(id){    
            axios({
            url:'user/updatePassword',
            method:'post',  
            data:{
            id:id,
            currantPassword:this.currantPassword,
            newPassword:this.newPassword,
            confirmPassword:this.confirmPassword
            }  
            }).then((response)=>{
            if(response.status == 200){ 
            $('.modal-backdrop').remove();       
            $('.modal-content').hide();  
             this.currantPassword = "";
             this.newPassword = "";
             this.confirmPassword = "";  
             this.$toasted.success(response.data.message).goAway(2000); 
				setTimeout(function () {
                        window.location.reload();
                         this.$router.push({name:'view-profile'});    
                    }, 1000);     
            }    
            }).catch((error)=>{
            this.errors = error.response.data.errors;   
            this.$toasted.error(err.data.message).goAway(2000);  
            });
        },
        dateFormat : function (date) {
        return moment(date, 'YYYY-MM-DD').format("MM/D/YYYY");
        },
         editProfile(){
            axios({
            url:'user/editProfile/'+this.$route.params.id,
            method:'get',  
            }).then((response)=>{
            this.user = response.data
            }).catch((err)=>{
            this.$toasted.error(err)    
            })
            },

         async  updateProfile(user){
                let fd = new FormData();
                fd.append('id',user.id);
                fd.append('first_name',user.first_name);
                fd.append('last_name',user.last_name);
                fd.append('email',user.email);
                fd.append('company',user.company);
                fd.append('company_no',user.company_no);
                fd.append('vat_no',user.vat_no);
                fd.append('phone_no',user.phone_no);
                fd.append('address',user.address);
                fd.append('country',user.country);
                fd.append('city',user.city);
                fd.append('post_code',user.post_code);
                fd.append('profile',this.$refs.profile.files[0]); 
                let response = await axios.post('user/updateProfile',fd)
                .then((response)=>{
                this.$toasted.success(response.data.message).goAway(2000)  
              	// setTimeout(function () {
                //          window.location.reload();
                //     }, 1000); 
                this.$router.push({name:'view-profile'});    
                }).
                catch((error)=>{
                this.errors = error.response.data.errors  
                //this.$toasted.error('Something is wrong').goAway(2000)        
                })
                 
        },

                  setImage: function (e) {
                    const file = e.target.files[0]
                    console.log(file);
                    if (!file.type.includes('image/')) {
                        alert('Please select an image file')
                        return
                    }
                    if (typeof FileReader === 'function') {
                        const reader = new FileReader()
                        reader.onload = (event) => {
                        this.profile = event.target.result
                        console.log(this.profile);
                        }
                        reader.readAsDataURL(file)
                    } else {
                        alert('Sorry, FileReader API not supported')
                    }
                    },
    }

}


</script>

<style scoped>
.error{
    color:red
}
.content-body {
    margin-top: 4%;
}

</style>