<template>
    <div>
    <layout>
    <div class="app-content content payment-log">
	<div class="content-wrapper">
		<div class="content-body">
			<!-- Basic form layout section start -->
			<section id="configuration">
				<div class="row">
					<div class="col-12">
						<div class="card rounded pad-20">
							<div class="card-content collapse show">
								<div class="card-body card-dashboard">
									<div class="row">
										<div class="col-12">
											<div class="col-12 col-xl-4">
                                                <h1>
                                               Feedback Log
                                                </h1>
                                            </div>
										</div>
									</div>
									   <label for="sort">sort by</label>
                                          <div class="row">
                                            
                                            <div class="col-xl-4 col-lg-6 col-md-10 col-12">
                                             From: <date-picker v-bind:style="{'display':'inline-block'}" v-model="from" valueType="format">
                                                     </date-picker>
                                            </div> 
                                            <div class="col-xl-4 col-lg-6 col-md-10 col-12">
                                                 To: <date-picker v-model="to" valueType="format"></date-picker>
                                                &nbsp; &nbsp;<button class="btn btn-success" @click="getData">Apply</button>
                                            </div>
                                             <div class="col-xl-4 col-lg-6 col-md-10 col-12">
                                                <label>Search 
                                                <input type="text" v-model="search" class="form-control form-control-sm" @keyup="getSearches">
                                                </label>
                                            </div>
                                        </div> 
									<div class="clearfix"></div>
									<div class="maain-tabble table-responsive">
										<table class="table">
											<thead>
												<tr>
													<th>s.no</th>
													<th>Feedback ID</th>
													<th>Date</th>
													<th>Time</th>
													<th>Status</th> 
                                                    <th>Action</th> 
												</tr>
											</thead>
                                            <tbody>
                                                <tr>
                                                    <td colspan="6" align="center">No Data Found!...</td>
                                                </tr>
                                            </tbody>
										</table>
                                       <pagination :data="orders" @pagination-change-page="getUserOrderLog"></pagination>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
    </div>
        </layout>
    </div>
</template>

<script>
import Layout from '../../../layout/Layout.vue';
import DatePicker from 'vue2-datepicker';
export default {
    name:'OrderLog',
    components:{Layout,DatePicker},
            data(){
            return{
                user:'',
                orders:{},
                search:'',
                id:'',
                from:'',
                to:''        
                }
        },
            created(){
                this.getUserOrderLog()
            },
            methods:{
                getSearches(){
                //alert(this.search)    
                axios({
                url:'getFeedbacks',
                method:'get',
                params:{
                search:this.search     
                }
                }).then((response)=>{
                if(response.status == 200){
                if(this.search == ""){
                this.getUsers();    
                }
                this.users = response.data;        
                }
                }) 
                },
                getUserOrderLog(page =1){
                try{
                axios({
                url:'getUserOrderLog?page='+page,
                method:'get',
                params:{
                id:this.$route.params.id,
                entries:10,
				status:'order-log'    
                }    
                }).then((response)=>{
                if(response.status == 200){
                this.orders = response.data.data 
				console.log(this.orders)       
                }
                })
                }catch(err){
                console.log(err)
                }    
                },
                getData:function(page =1){
                try{
                axios({
                url:'getUserOrderLog?page='+page,
                method:'get',
                params:{
                from:this.from,
                to:this.to,
                status:'order-filter'
                }
                }).then((response)=>{
                if(response.status == 200){
                console.log(response.data)
                this.users = response.data;            
                }
                })
                }catch(err){
                console.warn(err)
                }
              }
            }
    }

</script>
<style scoped>
.content-body {
    margin-top: 4%;
}
</style>