<template>
<div>
<layout>
<section class="inner-bg">
</section>
<section class="main-card step-form">
    <div class="container">
        <div class="card">
            <form-wizard  ref="form_details"
                nextButtonText="Next"
                backButtonText="Previous"
                finishButtonText="Submit"
                @on-complete="submit"
            >
                <!-- <template slot="title">
                     <div class="row text-center justify-content-center">
                        <div class="col-lg-6">
                            <div class="for-search-bar pb-4">
                                <label for="" class="w-100"><input type="search" class="form-control form-control-sm" placeholder="Search" aria-controls=""></label>
                            </div>
                        </div>
                    </div>
                </template> -->
           
  <tab-content title="Personal details">
    <div class="row">
                <div class="col-lg-12">
                    <div class="for-blue-head">
                        <h3>Collection Details</h3>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-12">
                    <div class="for-padd">
                            <div class="form-row pb-5">
                                <div class="form-group col-md-8">
                                    <label for="address">Address <span class="required">*</span></label>
                                     <ValidationProvider rules="required" name="address" v-slot="{errors}">
                                     <input type="text" class="form-control" id="address" placeholder="Enter Address" v-model="form.collection_details.address">
                                     <span class="error">{{errors[0]}}</span>
                                    </ValidationProvider>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="city">City <span class="required">*</span></label>
                                      <ValidationProvider rules="required" name="city" v-slot="{errors}">
                                        <input type="text" class="form-control" id="city"
                                        placeholder="Enter City" v-model="form.collection_details.city">
                                        <span class="error">{{errors[0]}}</span>
                                    </ValidationProvider>
                                </div>
                                <div class="form-group col-md-4">
                                  <label for="region">Region<span class="required">*</span></label>
                                      <ValidationProvider rules="required" name="region" v-slot="{errors}">
                                        <input type="text" class="form-control" id="region"
                                        placeholder="Enter Region" v-model="form.collection_details.region">
                                        <span class="error">{{errors[0]}}</span>
                                    </ValidationProvider>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="post_code">Postcode <span class="required">*</span></label>
                                     <ValidationProvider rules="required" name="region" v-slot="{errors}">
                                    <input type="text" class="form-control" id="post_code"
                                        placeholder="Enter Postcode" v-model="form.collection_details.post_code">
                                    <span class="error">{{errors[0]}}</span>
                                    </ValidationProvider>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="country">Country <span class="required">*</span></label>
                                     <ValidationProvider rules="required" name="region" v-slot="{errors}">
                                    <input type="text" class="form-control" id="country"
                                        placeholder="Enter Country" v-model="form.collection_details.country">
                                     <span class="error">{{errors[0]}}</span>
                                    </ValidationProvider>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="collection_date">Collection Date<span class="required">*</span></label>
                                    <ValidationProvider rules="required" name="collection_date" v-slot="{errors}">
                                    <input type="date" class="form-control" id="collection_date"
                                        placeholder="Enter Collection Date" v-model="form.collection_details.collection_date">
                                     <span class="error">{{errors[0]}}</span>
                                    </ValidationProvider>   
                                </div>
                                <div class="form-group col-md-4 pl-5">
                                    <label for="collection_time">Collection Time <span class="required">*</span></label>
                                    <div class="row">
                                        <div class="col">
                                            <label class="mr-2" for="DeliveryTime">From </label>
                                            <input type="time" class="form-control" id="collectionTime"
                                            placeholder="Enter Last Name" v-model="form.collection_details.collection_time_from">
                                        </div>
                                        <div class="col">
                                           <label class="mr-2" for="DeliveryTime">To </label>
                                            <input type="time" class="form-control" id="collection_time"
                                            placeholder="Enter Collection Time" v-model="form.collection_details.collection_time_to">
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
  </tab-content>
  <tab-content title="Additional Info">
            <div class="row">
                <div class="col-lg-12">
                    <div class="for-blue-head">
                        <h3>Delivery Details </h3>
                    </div>
                </div>
            </div>
             <div class="row mt-3">
                <div class="col-lg-12">
                    <div class="for-padd">
                            <div class="form-row pb-5">
                                <div class="form-group col-md-8">
                                    <label for="address">Address <span class="required">*</span></label>
                                     <ValidationProvider rules="required" name="address" v-slot="{errors}">
                                     <input type="text" class="form-control" id="address" placeholder="Enter Address" v-model="form.delivery_details.address">
                                     <span class="error">{{errors[0]}}</span>
                                    </ValidationProvider>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="city">City <span class="required">*</span></label>
                                      <ValidationProvider rules="required" name="city" v-slot="{errors}">
                                        <input type="text" class="form-control" id="city"
                                        placeholder="Enter City" v-model="form.delivery_details.city">
                                        <span class="error">{{errors[0]}}</span>
                                    </ValidationProvider>
                                </div>
                                <div class="form-group col-md-4">
                                  <label for="region">Region<span class="required">*</span></label>
                                      <ValidationProvider rules="required" name="region" v-slot="{errors}">
                                        <input type="text" class="form-control" id="region"
                                        placeholder="Enter Region" v-model="form.delivery_details.region">
                                        <span class="error">{{errors[0]}}</span>
                                    </ValidationProvider>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="post_code">Postcode <span class="required">*</span></label>
                                     <ValidationProvider rules="required" name="region" v-slot="{errors}">
                                    <input type="text" class="form-control" id="post_code"
                                        placeholder="Enter Postcode" v-model="form.delivery_details.post_code">
                                    <span class="error">{{errors[0]}}</span>
                                    </ValidationProvider>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="country">Country <span class="required">*</span></label>
                                     <ValidationProvider rules="required" name="region" v-slot="{errors}">
                                    <input type="text" class="form-control" id="country"
                                        placeholder="Enter Country" v-model="form.delivery_details.country">
                                     <span class="error">{{errors[0]}}</span>
                                    </ValidationProvider>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="collection_date">Delivary Date<span class="required">*</span></label>
                                    <ValidationProvider rules="required" name="collection_date" v-slot="{errors}">
                                    <input type="date" class="form-control" id="collection_date"
                                        placeholder="Enter Collection Date" v-model="form.delivery_details.delivery_date">
                                     <span class="error">{{errors[0]}}</span>
                                    </ValidationProvider>   
                                </div>
                                <div class="form-group col-md-4 pl-5">
                                    <label for="collection_time">Delivary Time <span class="required">*</span></label>
                                    <div class="row">
                                         <div class="col">
                                            <label class="mr-2" for="delivery_from">From </label>
                                            <input type="time" class="form-control" id="delivery_from"
                                            placeholder="Enter Last Name" v-model="form.delivery_details.delivery_from">
                                        </div>
                                        <div class="col">
                                           <label class="mr-2" for="delivery_to">To </label>
                                            <input type="time" class="form-control" id="delivery_to"
                                            placeholder="Enter Collection Time" v-model="form.delivery_details.delivery_to">
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
   </tab-content>
 <tab-content>
       <div class="row">
                <div class="col-lg-12">
                    <div class="for-blue-head">
                        <h3>Quotation Details</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="for-padd">
                            <div class="form-row pb-2">
                                <div class="form-group col-md-4">
                                    <label for="inputPackageType">Package Type <span class="required">*</span></label>
                                    <select id="select-1" class="form-control" v-model="form.package_type" @change="getQuantity">
                                        <option v-for="(packagetype,index) in packages" :key="index" :value="packagetype.id">{{packagetype.package_type}}</option>
                                    </select>
                                </div>
                            </div>
                           
                            <div class="form-row pb-2">
                                <div class="form-group col-md-4">
                                    <label for="inputQuantity">Quantity <span class="required">*</span></label> <br>
                                    <select class="form-control" id="select-1" v-model="form.quantity" @change="getQuantityDetails">
                                       <option v-for="(quatity,index) in quatity_details" :key="index" :value="quatity.id">{{quatity.quantity}}</option>
                                    </select>
                                </div>
                            </div>

                                <h2 class="blue-txt">Dimensions</h2>
                                
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4">Length Unit <span class="required">*</span></label>
                                        <select id="select-1" class="form-control" v-model="form.quotation_details.length_unit">
                                            <option value="">Select</option>
                                            <option value="CM">CM</option>
                                            <option value="M">M</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2 pl-2 pr-2">
                                        <label for="inputPassword4">Length <span class="required">*</span></label> <br>
                                        <select id="select-1" class="form-control" v-model="form.quotation_details.length">
                                            <option value="20">20</option>
                                            <option value="30">30 </option>
                                            <option value="40">40</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2 pl-2 pr-2">
                                        <label for="inputPassword4">Width <span class="required">*</span></label> <br>
                                        <select id="select-1" class="form-control"  v-model="form.quotation_details.width">
                                            <option value="50">50</option>
                                            <option value="60">60</option>
                                            <option value="70">70</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2 pl-2 pr-2">
                                        <label for="inputPassword4">Height <span class="required">*</span></label> <br>
                                        <select id="select-1" class="form-control" v-model="form.quotation_details.height">
                                            <option value="30">30</option>
                                            <option value="40">40</option>
                                            <option value="50">50</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail4">Weight Unit <span class="required">*</span></label>
                                        <select id="select-1" class="form-control" v-model="form.quotation_details.weight_unit">
                                            <option value="">Select</option>
                                            <option value="Kilograms">Kilograms</option>
                                            <option value="Grams">Grams</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for="inputPassword4">Weight<span class="required">*</span></label> <br>
                                        <select id="select-1" class="form-control" v-model="form.quotation_details.weight">
                                            <option value="20">20</option>
                                            <option value="19">19</option>
                                            <option value="18">18</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="inputDeliveryNote">Delivery Note <span class="required">*</span></label>
                                        <input type="textarea" class="form-control" placeholder="" id="text-area" v-model="form.quotation_details.delivery_note">
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
  </tab-content>
 <tab-content title="Last step">
     <div class="row">
                <div class="col-lg-12">
                    <div class="for-blue-head">
                        <h3>Quotation Contact Details</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="for-padd mb-5 pb-5">
                                <div class="form-row pt-3">
                                    <div class="form-group col-md-4">
                                        <label for="inputFirstName">First Name <span class="required">*</span></label>
                                        <input type="text" class="form-control" id="inputEmail4"
                                            placeholder="Enter First Name">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputLastName">Last Name <span class="required">*</span></label>
                                        <input type="text" class="form-control" id="inputLastName"
                                            placeholder="Enter Last Name">
                                    </div>
                                </div>
                                <div class="form-row mt-2">
                                    <div class="form-group col-md-12">
                                        <label for="inputQuotationVia" class="pb-4">Quotation Via <span class="required">*</span></label>
                                        <br>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="phoneRadio" name="quoteRadio"
                                                class="custom-control-input options"  @click="checkOption('phone')">
                                            <label class="custom-control-label" for="phoneRadio">Phone Number</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="emailRadio" name="quoteRadio"
                                                class="custom-control-input options" @click="checkOption('email')">
                                            <label class="custom-control-label" for="emailRadio">Email Address</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row mt-2 mt-5 pb-5">
                                    <div class="form-group col-md-4">
                                        <label for="inputNumber" class="pb-4">Phone Number <span class="required">*</span></label><br>
                                        <input type="number" class="form-control" placeholder="+1"  disabled>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="inputEmail" class="pb-4">Email Address <span class="required">*</span></label>
                                        <input type="email" class="form-control" id="email"
                                            placeholder="Enter Email Address" disabled>
                                            <small id="emailHelp" class="form-text text-muted">Note: Prefer to use your professional email address.</small>
                                    </div>
                                </div>
                                
                        </div>
                    </div>
                </div>
    </tab-content>
    </form-wizard>

</div>
</div>
</section>
<div class="modal fade modal-4" id="password-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content system">
            <div class="forget-pass pt-2">
                 <div class="d-flex justify-content-end">
                    <button type="button" class="close steps" @click="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
                </div>
                
                <div class="modal-body">

                    <div class="system-msg text-center ">
                        <h3 class="text-uppercase">system message</h3>
                        <p>Thank you for your quotation request. Your request has been received
                        We aim to respond within 2hrs.
                        </p>
                        <div class="form-group text-center mt-5">
                            <a href="javascript:void(0)" @click="close" class="bluee-btn text-uppercase" data-dismiss="modal" aria-label="Close">got it</a>
                            <router-link :to="{name:'quotation-log'}" class="yelloww-btn text-uppercase">quotation log</router-link> 
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</layout>
</div>
</template>
<script>
import Layout from './layout/innerpages/Layout.vue';
export default {
    name:'Profile',
    components:{Layout},
    data(){
        return{
			base_url:base_url,
            form : {
                collection_details:{},
                delivery_details:{},
			    base_url:base_url,
                package_type:'',
                packageId:'',
                quantity:'',
                userId:'',
                quotation_details:{}
            },
                quatity_details:[],
                other_details:[],
                packages:[],
            }
    },
    created(){
        this.getPackages();
    },
    methods:{
        async getPackages(){
            let response = await axios.get('user/getPackages'); 
            if(response.data){
            this.packages = response.data;   
            }
        },
        
        async getQuantity(){
            let response = await axios.get('user/getQuantity',{params:{package_id:this.form.package_type}}); 
            if(response.data){
            this.quatity_details = response.data; 
            this.packageId  = this.package_type;
            }
        },

        async getQuantityDetails(){
            let response = await axios.get('user/getQuantityDetails',{params:{quantity:this.form.quantity}}); 
            if(response.data){
            this.other_details = response.data;   
            }
        },

        checkOption(option){
            if(option == 'phone'){
                $('#phone').prop('disabled', false);  
                $('#email').prop('disabled', true);  
            }
            if(option == 'email'){
                $('#email').prop('disabled', false);  
                $('#phone').prop('disabled', true);  
            }
            },
  
       async submit(){
         this.form.userId = localStorage.getItem('user');
         let response = await axios.post('user/submitQuoatation',this.form); 
         if(response.data){
          $('.modal-4').addClass('modal fade modal-4 show');
          $('.modal-4').css('display', 'block');
         }
        },
       close(){
        $('.modal-4').hide();
       } 
    },
    
}
</script>
