<template>
<div>
<layout>
<section class="cover-bg">
<div class="heading-back">
      <h1 class="cssanimation leFadeIn sequence b-1 homeh1">WORLDWIDE</h1>
      <h1 class="cssanimation leFadeIn sequence b-2 homeh1">TRANSPORATION</h1>
      <h1 class="cssanimation leFadeIn sequence b-3 homeh1">AND LOGISTICS SERVICES</h1>
      <h2 class="float-right cssanimation leFadeIn sequence b-4 position-relative">SOLVING LOGISTICS TOGETHER</h2>
      <span class="playdiv"> <a href="#_" class="d-inline" data-toggle="modal" data-target="#video"><i
            class="fas fa-play"></i></a> </span>
    </div>
</section>
<!-- Tracking -->
<section class="tracking">
    <div class="container">
        <div class="row">
            <div class="offset-1 col-10 text-center">
                <div class="tracking-div">
                    <h2 class="">ENTER YOUR EMAIL &amp; TRACKING #</h2>
                    <div class="d-flex align-items-center justify-content-center flex-md-row flex-column">
                        <div class="emailBox d-flex align-items-center"> <img :src="base_url+'/public/assets/user/images/track-email.png'" alt="">
                            <input type="email" placeholder="Email Address" id="emailInput">
                        </div>
                        <div class="emailBox d-flex align-items-center ml-lg-5 ml-md-4 ml-0 mr-lg-4 mr-md-3 mr-0"> <img :src="base_url+'/public/assets/user/images/track.png'" alt="">
                            <input type="number" placeholder="Tracking Number" id="emailInput">
                            <a href="javascript:void(0)"> </a>
                        </div>
                        <a href="#_" class="tracking-button">TRACK</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Something -->
<section class="something">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 text-lg-left text-center animated slideInLeft wow slow">
                <div class="position-relative"> <img :src="base_url+'/public/assets/user/images/something-main.png'" class="img-fluid something-back" alt="image"> </div>
                <div class="something-front"> <img :src="base_url+'/public/assets/user/images/somthing-front.png'" class="img-fluid position-relative">
                    <h2>20</h2>
                    <h3>Years Of Experience</h3>
                </div>
            </div>
            <div class="col-lg-6 col-12 animated wow slower fadeIn">
                <div class="section-padding">
                    <h5 class="d-flex align-items-center section-name"><img :src="base_url+'/public/assets/user/images/line.png'" class="mr-2" alt=""> INTRODUCTION
                    </h5>
                    <h4 class="section-heading mt-1">SOME THING KNOW ABOUT<br> WHO WE ARE</h4>
                    <div class="d-flex align-items-start mt-4"> <img :src="base_url+'/public/assets/user/images/something-best.png'" class="img-fluid mr-3">
                        <div class="d-flex flex-column">
                            <h6>Best Successfully Company With Satisfied Customers</h6>
                            <p class="mt-1 homepage-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an it to make a type specimen book.</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-start mt-4"> <img :src="base_url+'/public/assets/user/images/something-powerful.png'" class="img-fluid mr-3">
                        <div class="d-flex flex-column">
                            <h6>Most Powerful &amp; Best Security For Product Delivery</h6>
                            <p class="mt-1 homepage-p">Lorem Ipsum it has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial -->
<section class="testimonial section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 px-5 animated wow slow flipInX">
                <div class="owl-carousel owl-theme" id="home-slider">
                    <div class="item">
                        <div class="position-relative"> <img :src="base_url+'/public/assets/user/images/testimonial-1.png'" class="img-fluid"> </div>
                        <div class="testimonial-text "> <img :src="base_url+'/public/assets/user/images/truck-s.png'" class="testimonial-small mb-1 img-fluid">
                            <h2>We Provide Road</h2>
                            <h2>Freight In City</h2>
                        </div>
                        <a href="#_" class="testimonial-read">Read More</a>
                    </div>
                    <div class="item ">
                        <div class="position-relative"> <img :src="base_url+'/public/assets/user/images/testimonial-2.png'" class="img-fluid"> </div>
                        <div class="testimonial-text"> <img :src="base_url+'/public/assets/user/images/ship-s.png'" class="testimonial-small mb-1">
                            <h2>We Provide Sea</h2>
                            <h2>Freight In City</h2>
                        </div>
                        <a href="#_" class="testimonial-read">Read More</a>
                    </div>
                    <div class="item ">
                        <div class="position-relative"> <img :src="base_url+'/public/assets/user/images/testimonial-3.png'" class="img-fluid"> </div>
                        <div class="testimonial-text"> <img :src="base_url+'/public/assets/user/images/provide-s.png'" class="testimonial-small mb-1">
                            <h2>We Provide</h2>
                            <h2>Industry Solutions</h2>
                        </div>
                        <a href="#_" class="testimonial-read">Read More</a>

                    </div>
                    <div class="item ">
                        <div class="position-relative"> <img :src="base_url+'/public/assets/user/images/testimonial-4.png'" class="img-fluid"> </div>
                        <div class="testimonial-text"> <img :src="base_url+'/public/assets/user/images/services-s.png'" class="testimonial-small mb-1">
                            <h2>We Provide Much</h2>
                            <h2>More Services</h2>
                        </div>
                        <a href="#_" class="testimonial-read">Read More</a>

                    </div>
                    <div class="item ">
                        <div class="position-relative"> <img :src="base_url+'/public/assets/user/images/testimonial-1.png'" class="img-fluid"> </div>
                        <div class="testimonial-text"> <img :src="base_url+'/public/assets/user/images/truck-s.png'" class="testimonial-small mb-1">
                            <h2>We Provide Road</h2>
                            <h2>Freight In City</h2>
                        </div>
                        <a href="#_" class="testimonial-read">Read More</a>

                    </div>
                    <div class="item ">
                        <div class="position-relative"> <img :src="base_url+'/public/assets/user/images/testimonial-2.png'" class="img-fluid"> </div>
                        <div class="testimonial-text"> <img :src="base_url+'/public/assets/user/images/ship-s.png'" class="testimonial-small mb-1">
                            <h2>We Provide Sea</h2>
                            <h2>Freight In City</h2>
                        </div>
                        <a href="#_" class="testimonial-read">Read More</a>

                    </div>
                    <div class="item ">
                        <div class="position-relative"> <img :src="base_url+'/public/assets/user/images/testimonial-3.png'" class="img-fluid"> </div>
                        <div class="testimonial-text"> <img :src="base_url+'/public/assets/user/images/provide-s.png'" class="testimonial-small mb-1">
                            <h2>We Provide</h2>
                            <h2>Industry Solutions</h2>
                        </div>
                        <a href="#_" class="testimonial-read">Read More</a>

                    </div>
                    <div class="item ">
                        <div class="position-relative"> <img :src="base_url+'/public/assets/user/images/testimonial-4.png'" class="img-fluid"> </div>
                        <div class="testimonial-text"> <img :src="base_url+'/public/assets/user/images/services-s.png'" class="testimonial-small mb-1">
                            <h2>We Provide Much</h2>
                            <h2>More Services</h2>
                        </div>
                        <a href="#_" class="testimonial-read">Read More</a>

                    </div>
                    <div class="item ">
                        <div class="position-relative"> <img :src="base_url+'/public/assets/user/images/testimonial-1.png'" class="img-fluid"> </div>
                        <div class="testimonial-text"> <img :src="base_url+'/public/assets/user/images/truck-s.png'" class="testimonial-small mb-1">
                            <h2>We Provide Road</h2>
                            <h2>Freight In City</h2>
                        </div>
                        <a href="#_" class="testimonial-read">Read More</a>

                    </div>
                    <div class="item ">
                        <div class="position-relative"> <img :src="base_url+'/public/assets/user/images/testimonial-2.png'" class="img-fluid"> </div>
                        <div class="testimonial-text"> <img :src="base_url+'/public/assets/user/images/ship-s.png'" class="testimonial-small mb-1">
                            <h2>We Provide Sea</h2>
                            <h2>Freight In City</h2>
                        </div>
                        <a href="#_" class="testimonial-read">Read More</a>

                    </div>
                    <div class="item ">
                        <div class="position-relative"> <img :src="base_url+'/public/assets/user/images/testimonial-3.png'" class="img-fluid"> </div>
                        <div class="testimonial-text"> <img :src="base_url+'/public/assets/user/images/provide-s.png'" class="testimonial-small mb-1">
                            <h2>We Provide</h2>
                            <h2>Industry Solutions</h2>
                        </div>
                        <a href="#_" class="testimonial-read">Read More</a>

                    </div>
                    <div class="item ">
                        <div class="position-relative"> <img :src="base_url+'/public/assets/user/images/testimonial-4.png'" class="img-fluid"> </div>
                        <div class="testimonial-text"> <img :src="base_url+'/public/assets/user/images/services-s.png'" class="testimonial-small mb-1">
                            <h2>We Provide Much</h2>
                            <h2>More Services</h2>
                        </div>
                        <a href="#_" class="testimonial-read">Read More</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Choose -->
<section class="choose">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 wow slower fadeIn animated">
                <div class="section-padding">
                    <h3 class="d-flex align-items-center section-name">
                        <img :src="base_url+'/public/assets/user/images/line.png'" class="mr-2" alt=""> WHY CHOOSE US
                        </h3>
                        <h2 class="section-heading mt-1">
                            WE AIM TO CONTRIBUTE
                            WELL TO YOUR COMPANY
                            </h2>
                            <p class="mt-1 homepage-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an it to make a type specimen book. </p>
                </div>
            </div>
            <div class="col-lg-6 col-12 slideInRight wow slow animated">
                <div class="row">
                    <div class="col-sm-4 col-12 mt-lg-0 mt-1 ">
                        <div class="choose-div choose-1">
                            <h4>Transparent
                                Pricing</h4>
                        </div>
                    </div>
                    <div class="col-sm-4 col-12 mt-lg-0 mt-1">
                        <div class="choose-div choose-2">
                            <h4>Real Time
                                Tracking</h4>
                        </div>
                    </div>
                    <div class="col-sm-4 col-12 mt-lg-0 mt-1">
                        <div class="choose-div choose-3">
                            <h4>On - Time
                                Delivery</h4>
                        </div>
                    </div>
                </div>
                <div class="row second-row-choose">
                    <div class="offset-sm-4 col-sm-4 col-12 mt-lg-0 mt-1">
                        <div class="choose-div choose-4">
                            <h4>24/7 Online
                                Support</h4>
                        </div>
                    </div>
                    <div class="col-sm-4 col-12 mt-lg-0 mt-1">
                        <div class="choose-div choose-5">
                            <h4>Safety
                                Quality</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Newsletter -->
<section class="news">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-12 newsimg slideInLeft wow slow animated"> <img :src="base_url+'/public/assets/user/images/offer-main.png'" class="img-fluid"> </div>
            <div class="col-lg-8 col-12 px-0 wow slower fadeIn animated">
                <h3 class="d-flex align-items-center justify-content-lg-start justify-content-center section-name">
                    <img :src="base_url+'/public/assets/user/images/line.png'" class="mr-2" alt=""> OUR NEWSLETTER
                    </h3>
                    <h2 class="section-heading mt-1 text-lg-left text-center">
                        DON'T MISS OUR OFFER
                        TIPS &amp; MUCH MORE
                        </h2>
                        <div class="email-container">
                            <input class="input-field newsletterr" type="email" name="email" placeholder="Your Email Address">
                            <a href="#_" class="d-inline-block icon2"><img :src="base_url+'/public/assets/user/images/send-1.png'" alt=""></a>
                        </div>
            </div>
        </div>
    </div>
</section>
<!-- People -->
<section class="people">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 section-padding">
                <div class="wow slower fadeIn animated"> <img :src="base_url+'/public/assets/user/images/back-dots.png'" class="dots" alt=""> <img :src="base_url+'/public/assets/user/images/send.png'" class="send" alt="">
                    <div class="people-1">
                        <p class="homepage-p mt-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the type specimen book. </p>
                        <div class="d-flex align-items-center mt-2"> <img :src="base_url+'/public/assets/user/images/testimonial-img.png'" class="mr-1">
                            <div class="d-flex flex-column">
                                <h4>JACK RAYAN</h4>
                                <h5 class="d-flex align-items-center"><img :src="base_url+'/public/assets/user/images/line-2.png'" class="mr-1"> Customer</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="people-2 wow slower fadeIn animated">
                    <p class="homepage-p mt-0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the type specimen book. </p>
                    <div class="d-flex align-items-center mt-2"> <img :src="base_url+'/public/assets/user/images/testimonial-img.png'" class="mr-1">
                        <div class="d-flex flex-column">
                            <h4>JACK RAYAN</h4>
                            <h5 class="d-flex align-items-center"><img :src="base_url+'/public/assets/user/images/line-2.png'" class="mr-1"> Customer</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offset-lg-1 col-lg-5 col-12">
                <h3 class="d-flex align-items-center section-name wow slower fadeIn animated"> <img :src="base_url+'/public/assets/user/images/line.png'" class="mr-2" alt=""> TESTIMONIALS</h3>
                <h2 class="section-heading mt-1 wow slower fadeIn animated">WHAT PEOPLE SAYS
                    ABOUT US</h2>
                <p class="mt-2 wow slower fadeIn animated homepage-p">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the when an it to make a type specimen book.</p>
                <div class="text-lg-left text-center position-relative"> <img :src="base_url+'/public/assets/user/images/people-back.png'" class="img-fluid wow slow animated flipInX">
                    <div class="play-2 wow slow animated fadeIn">
                        <a href="#_" data-toggle="modal" data-target="#video"><img :src="base_url+'/public/assets/user/images/play.png'" class="img-fluid"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
   </layout>
</div>
</template>

<script>
import Layout from './layout/home/Layout.vue'
export default {
  components: {
    Layout
  },
  data(){
      return{
          base_url:base_url
      }
  }

}

</script>
<style scoped>
.content-body {
    margin-top: 4%;
}
</style>