<template>
 <div>
     <layout>
           <section class="login-cover">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 offset-lg-2">
                <div class="login">
                    <h5>Login To Your Account</h5>
                    <ValidationObserver ref="form">
                    <form>
                        <div class="form-group">
                            <label for="email">Email Address</label>
                            <ValidationProvider rules="required|email" name="Email" v-slot="{ errors }">
                            <input type="email" class="form-control log" id="email" v-model="formData.email"
                             placeholder="Enter Email Address">
                            <span class="error">{{ errors[0] }}</span>
                           </ValidationProvider>
                        </div>
                        <div class="form-group mb-2 login-password">
                            <label for="password">Password</label>
                            <ValidationProvider rules="required" name="Password" v-slot="{ errors }">
                            <input :type="passwordEye" class="form-control log" id="password" v-model="formData.password"
                             placeholder="Enter Password">
                            <button class="view-btn-eye"><i @click.prevent="togglePasswordEye('passwordEye','passwordClass')" :class="passwordClass" class="fa fa-eye"></i></button>
                            <span class="error">{{ errors[0] }}</span>
                           </ValidationProvider>
                        </div>
                        <div class="for-checkbox">
                            <a href="#" class="forgot" data-toggle="modal" data-target="#modal2">Forgot Your
                                Password?</a>
                            <a href="#" class="forgot" data-toggle="modal" data-target="#modal1">Signup</a>
                        </div>
                        <div class="for-login-btn">
                            <button class="login-btn2" @click.prevent="SignIn">LOGIN</button>
                            <!-- <a href="#" class="login-btn2" data-toggle="modal" data-target="#exampleModal">LOGIN</a> -->
                        </div>
                        <div class="have-account">
                            <router-link :to="{name:'home'}"><i class="fas fa-arrow-left"></i> Back To Homepage</router-link>
                        </div>
                    </form>
                    </ValidationObserver>
                </div>
            </div>
        </div>
        <div class="side-pic">
            <img :src="base_url+'/public/assets/user/images/login-pic.png'" alt="">
        </div>
    </div>

  </section>



<!-- modal2 -->
<div class="modal fade blocked-modal" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span class="btn-close" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-5">
                <div class="row">
                    <div class="col-12 text-center">
                        <img :src="base_url+'/assets/user/images/unlock.png'" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="modal-h1">Password Recovery</h1>
                    </div>
                </div>
                <ValidationObserver ref="form" v-slot="{handleSubmit}">
                <form ref="forogtPassword" @submit.prevent="handleSubmit(send)">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                        <label for="email">Email Address</label>
                        <ValidationProvider rules="required|email" name="Email" v-slot="{ errors }">
                        <input type="email" class="form-control log2" id="email" v-model="email"
                         aria-describedby="emailHelp" placeholder="Enter Email Address">
                        <i class="far fa-envelope inp"></i>
                        <span class="error">{{ errors[0] }}</span>
                        </ValidationProvider>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 d-flex justify-content-center align-items-center">
                        <button type="submit" class="yelloww-btn2"
                        >Continue</button>
                    </div>
                </div>
                </form>
                </ValidationObserver>
                <div class="row">
                    <div class="col-12 d-flex justify-content-center align-items-center">
                        <div class="have-account pt-3">
                            <a href="#"><i class="fas fa-arrow-left"></i> Back To Login</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- modal2 end -->

<!-- modal3 -->
<div class="modal fade blocked-modal" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="close">
                    <span class="btn-close" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-5">
                <div class="row">
                    <div class="col-12 text-center">
                          <img :src="base_url+'/assets/user/images/unlock.png'" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="modal-h1">Password Recovery</h1>
                    </div>
                </div>
                <ValidationObserver ref="verify_code" v-slot="{handleSubmit}">
                <form ref="verify_code" @submit.prevent="handleSubmit(verifyCode)">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="verification_code">Verification Code</label>
                             <ValidationProvider rules="required" name="verification_code" v-slot="{ errors }">
                            <input type="number" name="verification_code" class="form-control log2" id="verification_code"
                             placeholder="Enter Verification Code" v-model="verify_code">
                            <i  class="far fa-check-circle inp"></i>
                             <span class="error">{{ errors[0] }}</span>
                            </ValidationProvider>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="send-again">
                            <a href="javascript:void(0)" @click="send">Didn’t Receive Code? <span> Send It Again</span></a>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 d-flex justify-content-center align-items-center">
                        <button type="submit" class="yelloww-btn2">Continue</button>
                    </div>
                </div>
                 </form>
                </ValidationObserver>
                <div class="row">
                    <div class="col-12 d-flex justify-content-center align-items-center">
                        <div class="have-account pt-3">
                            <a href="#"><i class="fas fa-arrow-left"></i> Back To Login</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- modal3 end -->

<!-- modal4 -->
<div class="modal fade blocked-modal" id="modal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="close">
                    <span class="btn-close" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-5">
                <div class="row">
                    <div class="col-12 text-center">
                          <img :src="base_url+'/assets/user/images/unlock.png'" alt="">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="modal-h1">Password Recovery</h1>
                    </div>
                </div>
                <ValidationObserver ref="verify_code" v-slot="{handleSubmit}">
                <form ref="verify_code" @submit.prevent="handleSubmit(passwordUpdate)">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="password">New Password</label>
                            <ValidationProvider rules="required" name="Password" v-slot="{ errors }">
                            <input :type="passwordEye" class="form-control log2" id="password"
                                placeholder="Enter Password" name="password" v-model="changePassword.password">
                            <button class="view-btn-eye fg-pass"><i @click.prevent="togglePasswordEye('passwordEye','passwordClass')" :class="passwordClass" class="fa fa-eye"></i></button>
                            <span class="error">{{ errors[0] }}</span>
                           </ValidationProvider>
                          <span class="error" v-if="errors.password_confirmation">{{errors.password[0]}}</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label for="password_confirmation">Confirm Password</label>
                            <ValidationProvider rules="required" name="password_confirmation" v-slot="{ errors }">
                            <input :type="passwordEyee" class="form-control log2" id="password_confirmation"
                            placeholder="Confirm Password" name="password_confirmation" v-model="changePassword.password_confirmation">
                            <button class="view-btn-eye fg-pass"><i @click.prevent="togglePasswordEyee('passwordEyee','passwordClasss')" :class="passwordClasss" class="fa fa-eye"></i></button>
                             <span class="error">{{ errors[0] }}</span>
                           </ValidationProvider>
                            <span class="error" v-if="errors.password_confirmation">{{errors.password_confirmation[0]}}</span>
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 d-flex justify-content-center align-items-center">
                        <button type="submit" class="yelloww-btn2">update</button>
                    </div>
                </div>
                </form>
                </ValidationObserver>
                <div class="row">
                    <div class="col-12 d-flex justify-content-center align-items-center">
                        <div class="have-account pt-3">
                            <a href="#"><i class="fas fa-arrow-left"></i> Back To Login</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- modal4 end -->


</layout>
 </div>
</template>
<script>
import Layout from './layout/innerpages/Layout.vue'
	export default {
	name: "Login",
    components:{
    Layout
    },
	data() {
		return {
		   errors:[],
           base_url:base_url,
           email:'',
		   formData:{
			 email: "",
			 password: "",
             role:'user'
                },
            changePassword: {
                    email: "",
                    password: "",
            role:'admin'
                },
            verify_code:"",
                token: "",
            passwordClass : 'fa-eye',
            passwordEye: 'password',
            passwordClasss : 'fa-eye',
            passwordEyee: 'password',
	  	 }
	},

	methods: {
    send(){
		axios({
		url: "forgotPassword",
		method: "get",
        params:{
        email:this.email    
        }
		}).then((response) => {
        this.$toasted.success('Forgot password verification code sent to your register email').goAway(2000);  
        //this.email = "";
        $('#modal2').hide();
        $('#modal3').addClass('modal fade modal-1 show');
        $('#modal3').css('display', 'block');

        }).catch((err) => {
        this.$toasted.error(err.response.data.message).goAway(2000);
        })
		},
      verifyCode(){
      axios({
      url: "verifyCode",
      method: "get",
          params:{
          verify_code:this.verify_code   
          }
        }).then((response) => {
          this.$toasted.success(response.data.message).goAway(2000); 
          $('#modal3').hide();
          $('#modal4').addClass('modal fade modal-1 show');
          $('#modal4').css('display', 'block');
  
        }).catch((err) => {
        this.$toasted.error(err.response.data.message).goAway(2000);
        })  
      },
   		passwordUpdate(){
		axios({
		url: "changePassword",
	  	method: "post",
        data:{
        email:this.email,
        password:this.changePassword.password,  
        password_confirmation:this.changePassword.password_confirmation,  
        }
	  	}).then((response) => {
        $('div#modal4').css("display","none");   
        $('.modal-backdrop').remove();    
        this.$toasted.success(response.data.message).goAway(2000); 
        }).catch((error) => {
        this.errors = error.response.data.errors;    
	    this.$toasted.error(error.response.data.message).goAway(2000);
		 })
		},
		SignIn() {  
		axios({
		url: "user/login",
		method: "post",
		data: this.formData,
		})
		.then((response) => {
		localStorage.setItem("user", response.data.user);
        localStorage.setItem("isLogin", 1);
         localStorage.setItem("userType", 'user');
		localStorage.setItem("access-token", response.data.token);
		this.$router.push("/user/home");
		})
		.catch((error) => {
        this.errors = error.response.data.errors;
		this.$toasted.error(error.response.data.message).goAway(2000);
		});
		
		},

      togglePasswordEye(passwordVar,classVar){
        this[passwordVar] = this[passwordVar] == 'password'?"text": "password";
        this[classVar] = this[passwordVar] == 'password'?"fa-eye": "fa-eye-slash";
      },

       togglePasswordEyee(passwordVar,classVar){
        this[passwordVar] = this[passwordVar] == 'password'?"text": "password";
        this[classVar] = this[passwordVar] == 'password'?"fa-eye": "fa-eye-slash";
      },
      close(){
        $('div#modal3').css("display","none"); 
        $('div#modal4').css("display","none");   
        $('.modal-backdrop').remove(); 
      }
	}
	}
</script>
<style scoped>
.error {
  color: red;
}
.content-body {
    margin-top: 4%;
}
</style>