<template>
    <div>

    </div>
</template>

<script>
export default {
    name:'Logout',
    created(){
    localStorage.removeItem('access-token');
    localStorage.removeItem('user');
    localStorage.removeItem('userType');
    localStorage.removeItem('isLogin');
    this.$router.push('/user/home');
    this.$tosted.success('You are Logout!')    
    }
}
</script>
<style scoped>
.content-body {
    margin-top: 4%;
}
</style>

