<template>
   <div>
      <section class="login-main">
         <div class="container">
            <div class="login-inner">
               <div class="row align-items-center">
                  <div class="col-lg-6 col-12">
                     <div class="left">
                        <img :src="base_url+'/images/login.png'" class="img-fluid" alt="" />
                     </div>
                  </div>
                  <div class="col-lg-6 col-12">
                     <div class="right">
                        <img
                           :src="base_url+'/images/login-login-logo.png'"
                           class="img-fluid"
                           alt=""
                           />
                        <ValidationObserver ref="form" v-slot="{handleSubmit}">
                         <h1>Create New Password</h1>
                          <form action="" ref="chnagePassword" @submit.prevent="handleSubmit(changePassword)">
                            <div class="row">
                       <div class="col-12 form-group position-relative">
                        <ValidationProvider
                        rules="required"
                        name="Change Password"
                        v-slot="{ errors }"
                      >
                        <input
                          type="email"
                          class="form-control"
                          placeholder="Enter Your Email"
                          v-model="email"
                          name="email"
                        />
                        <span class="error">{{ errors[0] }}</span>
                      </ValidationProvider>
                       <i class="fa fa-envelope"></i>
                      <button type="button" class="view-btn position-absolute">
                      </button>
                    </div>      
                      <div class="col-12 form-group position-relative">
                      <ValidationProvider
                        rules="required"
                        name="New Password"
                        v-slot="{ errors }"
                      >
                        <input
                          type="password"
                          class="form-control"
                          placeholder="Enter New Password"
                          v-model="password"
                          name="new_password" id="password"
                        />
                        <span class="error">{{ errors[0] }}</span>
                      </ValidationProvider>
                      <i class="fa fa-lock"></i>
                      <button type="button" class="view-btn position-absolute" @click="togglePassword">
                        <i class="fa fa-eye-slash"></i>
                      </button>
                       <span v-if="errors.password" class="error">{{errors.password[0]}}</span>
                    </div>  
                     <div class="col-12 form-group position-relative">
                      <ValidationProvider
                        rules="required"
                        name="PAssword Confirmation"
                        v-slot="{ errors }"
                      >
                        <input
                          type="password"
                          class="form-control"
                          placeholder="Enter Passsword Confirmation"
                          v-model="passwordconfirmation"
                          name="password_confirmation" id="password_confirmation"
                        />
                        <span class="error">{{ errors[0] }}</span>
                      </ValidationProvider>
                      <i class="fa fa-lock"></i>
                      <button type="button" class="view-btn position-absolute" @click="togglePasswordConfirmation">
                        <i class="fa fa-eye-slash"></i>
                      </button>
                       <span v-if="errors.passwordconfirmation" class="error">{{errors.passwordconfirmation[0]}}</span>
                       </div>   
                              <div class="col-12">
                                <button
                                  type="submit"
                                  class="yel-btn"
                                  
                                >
                                  Continue
                                </button>
                              </div>
                              <div class="col-12 text-center">
                                    <router-link :to="{path:'/login/admin'}" class="back"
                                       ><i class="fa fa-arrow-left"></i>back to website</router-link
                                       >
                                 </div>
                            </div>
                          </form>
                        </ValidationObserver>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>
</template>
<script>
	export default {
	name: "NewPassword",
	data() {
		return {
		   errors: "",
       base_url:base_url,
		   email:"",
       password:"",
       passwordconfirmation:'',
		   token: "",
       errors:[]
	  	 }
	},
	methods: {
		changePassword(){
		axios({
		url: "changePassword",
		method: "post",
        data:{
        email:this.email,
        password:this.password,  
        passwordconfirmation:this.passwordconfirmation,  
        }
		}).then((response) => {
        this.$toasted.success(response.data.message).goAway(2000); 
        this.$router.push('/login/admin'); 
		  }).catch((error) => {
      this.errors = error.response.data.errors;    
      console.log('============',this.errors);
		  this.$toasted.error(error.response.data.message).goAway(2000);
		  })
		 },
    togglePassword(){
    var type = $('#password').attr("type"); 
    if(type === 'password' ){ 
    $('#password').attr("type", "text");
    }else{
    $('#password').attr("type", "password");
    } 
    },
    togglePasswordConfirmation(){
    var type = $('#password_confirmation').attr("type"); 
    if(type === 'password' ){ 
    $('#password_confirmation').attr("type", "text");
    }else{
    $('#password_confirmation').attr("type", "password");
    } 
    },
		
   }

	}
</script>
<style scoped>
.error {
  color: red;
}
.content-body {
    margin-top: 4%;
}
</style>