<template>
    <div>
<layout>
 
<section class="inner-bg">
</section>

<section class="main-card">
    <div class="container">
        <div class="card">
            <div class="app-content content user view-customer customer-product">
                <div class="content-wrapper">
                    <div class="content-body">
                        <section class="payment-log p-60">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="session-header text-center">
                                            <h1 class="blue-txt2">Order Log </h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="top mt-5">
                                    <div class="row">
                                        <div class="col-12">
                                            <label for="">sort by :</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-3 col-md-4 col-sm-6 col-12">
                                            <input type="date" id="datepicker-2" v-model="from">
                                        </div>
                                        <div class="col-xl-3 col-md-4 col-sm-6 col-12">
                                            <input type="date" id="datepicker-3" v-model="to">
                                        </div>
                                        <div class="col-xl-3 col-md-4 col-sm-6 col-12">
                                           <button class="wizard-btn" @click="getOrderLog">Apply</button>  
                                        </div>
                                         <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                                                <label>Search 
                                                <input type="text" class="form-control form-control-sm" v-model="search"  @keyup="getOrderLog">
                                                </label>
                                            </div>
                                      </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="maain-tabble table-responsive">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>S.no</th>
                                                        <th>Quotation ID</th>
                                                        <th>Date</th>
                                                        <th>Time</th>
                                                        <th>Status</th>
                                                        <th>Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody v-if="orders.data != ''">
                                                    <tr  v-for="(order, index) in orders.data" :key="index">
                                                        <td>{{++index}}</td>
                                                        <td>{{order.quote_id}}</td>
                                                        <td>{{dateFormat(order.created_at)}}</td>
                                                        <td>{{order.time}}</td>
                                                        <td class="green-text">{{order.status}}</td>
                                                        <td class="text-right">
                                                            <div class="btn-group mr-1 mb-1">
                                                                <button type="button" class="btn btn-drop-table btn-sm"
                                                                    data-toggle="dropdown" aria-haspopup="true"
                                                                    aria-expanded="false"> <i
                                                                        class="fa fa-ellipsis-v"></i></button>
                                                                <div class="dropdown-menu" x-placement="bottom-start">
                                                                    <router-link :to="{name:'order-details' ,params:{id:order.quote_id}}" class="dropdown-item"><i
                                                                            class="fa fa-eye"></i>View</router-link>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                 <tbody v-else>
                                                <tr>
                                                    <td colspan="6" align="center">No Data Found!...</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</layout>
</div>
</template>

<script>
import Layout from './layout/innerpages/Layout.vue';
import DatePicker from 'vue2-datepicker';
import moment from 'moment';
export default {
    name:'OrderLog',
    components:{Layout,DatePicker},
            data(){
            return{
                user:'',
                orders:{},
                search:'',
                id:'',
                from:'',
                to:''        
                }
        },
            created(){
                this.getOrderLog();
            },
            methods:{
                dateFormat : function (date) {
                return moment(date, 'YYYY-MM-DD').format("MM/D/YYYY");
                },
                getOrderLog(page =1){
                let userId = localStorage.getItem('user');     
                try{
                axios({
                url:'user/getOrdersLog?page='+page,
                method:'get',
                params:{
                id:this.$route.params.id,
                entries:10,
                search:this.search,
                from:this.from,
                to:this.to,
                id:userId  
                }    
                }).then((response)=>{
                if(response.status == 200){
                this.orders = response.data      
                }
                })
                }catch(err){
                console.log(err)
                }    
                },
       
             }
           }

</script>
<style scoped>
.content-body {
    margin-top: 4%;
}
</style>