<template>
<div>
<layout>
 <section class="inner-bg">
</section>

<section class="main-card step-form">
    <div class="container log-details">
        <div class="card">
               <div class="col-xs-4 col-md-5 col-lg-5 text-left">
                        <div class=" ml-3"><router-link :to="{name:'order-log'}" class="text-black"><i class="fas fa-arrow-left mr-1"></i>Back</router-link></div>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-12 text-center">
                        <div class="text-center"><h2> Order Log Details</h2></div>
                </div>
            <!-- <div class="row text-center justify-content-center">
                <div class="col-lg-6">
                    <div class="for-search-bar pb-4">
                        <label for="" class="w-100"><input type="search" class="form-control form-control-sm" placeholder="Search" aria-controls=""></label>
                    </div>
                </div>
            </div> -->

        <!-- Loading Details Log -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="for-blue-head">
                        <h3>Loading Details</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="for-padd pb-5 pt-4">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-5">
                                    <label for="inputEmail4">Address</label>
                                    <p>{{order.address.collection_address}}</p>
                                </div>
                                <div class="form-group col-md-5">
                                    <label for="inputEmail4">City</label>
                                    <p>{{order.address.collection_city}}</p>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputEmail4">Status:</label>
									 <span class="l-green ml-1" v-if="order.status == 'Ongoing'">Ongoing</span>
									 <span class="l-red ml-1"   v-if="order.status == 'Inprocess'">Inprocess</span>
									    <h3 class="for-status"  v-if="order.status == 'Completed'">Status: <span class="green-txt">Completed</span>
                                        <div class="btn-group mr-1 mb-1">
                                            <button type="button" class="btn btn-drop-table btn-sm ellipsis-dot " data-toggle="dropdown"
                                                aria-haspopup="true" aria-expanded="false"> <i class="fa fa-ellipsis-v"></i></button>
                                            <div class="dropdown-menu dot-show" x-placement="bottom-start">
                                                <a class="dropdown-item" href="javascript:void(0)" @click="feedbacks"><i class="fas fa-star"></i> Give Feedback</a>
                                                <!-- <a class="dropdown-item" href="javascript:void(0)"><i class="fas fa-file-alt"></i> Download Invoice</a>
                                                <a class="dropdown-item" href="javascript:void(0)"><i class="fas fa-download"></i> Download Proof of Delivery</a> -->
                                            </div>
                                        </div>
                                    </h3>
									  <br>
                                    <label for="inputEmail4">Cost:</label><span class="ml-1">&#163; 1234</span>
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">State</label>
                                    <p>{{order.address.collection_region}}</p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Postal Code</label>
                                    <p>{{order.address.collection_postcode}}</p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Country</label>
                                    <p>{{order.address.collection_country}}</p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Loading Date</label>
                                    <p>{{dateFormat(order.address.collection_date)}}</p>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Loading Time</label> <br>
                                    <span>To {{order.address.collection_time_to}} </span><span>Till: {{order.address.collection_time_to}}</span>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>

        <!-- Delivery Details Log -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="for-blue-head">
                        <h3>Delivery Details</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="for-padd">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Address</label>
                                    <p>{{order.address.delivery_address}}</p>
                                </div>
                                <div class="form-group col-md-8">
                                    <label for="inputEmail4">City</label>
                                    <p>{{order.address.delivery_city}}</p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">State</label>
                                    <p>{{order.address.delivery_region}}</p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Postal Code</label>
                                    <p>{{order.address.delivery_postcode}}</p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Country</label>
                                    <p>{{order.address.delivery_country}}</p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Loading Date</label>
                                    <p>{{dateFormat(order.address.delivery_address)}}</p>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Loading Time</label> <br>
                                    <span>To {{order.address.delivery_time_to}} </span><span>Till: {{order.address.delivery_time_from}}</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Delivery Details Log -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="for-blue-head">
                        <h3>Delivery Details</h3>
                    </div>
                </div>
            </div>
          <div class="row">
                <div class="col-lg-12">
                    <div class="for-padd">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Address</label>
                                    <p>{{order.address.delivery_address}}</p>
                                </div>
                                <div class="form-group col-md-8">
                                    <label for="inputEmail4">City</label>
                                    <p>{{order.address.delivery_city}}</p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">State</label>
                                    <p>{{order.address.delivery_region}}</p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Postal Code</label>
                                    <p>{{order.address.delivery_postcode}}</p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Country</label>
                                    <p>{{order.address.delivery_country}}</p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Loading Date</label>
                                    <p>{{dateFormat(order.address.delivery_address)}}</p>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Loading Time</label> <br>
                                    <span>To {{order.address.delivery_time_to}} </span><span>Till: {{order.address.delivery_time_from}}</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Quotation Details Log -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="for-blue-head">
                        <h3>Quotation Details</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="for-padd">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Package Type</label>
                                    <p>{{order.quotation_details.package.package_type}}</p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Quantity</label>
                                    <p>{{order.quotation_details.quantity.quantity}}</p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Dimension Unit</label>
                                    <p>{{order.quotation_details.length_unit}}</p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Length</label>
                                    <p>{{order.quotation_details.length}}</p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Width</label>
                                    <p>{{order.quotation_details.width}}</p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Height</label>
                                    <p>{{order.quotation_details.height}}</p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Weight Unit</label> <br>
                                      <p>{{order.quotation_details.weight_unit}}</p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Weight</label> <br>
                                    <p>{{order.quotation_details.weight}}</p>
                                </div>
                                <div class="form-group col-md-12 mb-3">
                                    <label for="inputEmail4">Delivery Note</label><br>
                                    <p>{{order.quotation_details.delivery_note}}</p>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- modal1 -->
<div class="modal fade feedback-modal" id="feedback-modal1" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-5">
                <div class="row pb-2">
                    <div class="col-12 text-center">
                        <h1 class="modal-h1">Feedback Form </h1>

                    </div>
                </div>
                <div class="row pb-2">
                    <div class="col-12 text-center">
                        <p>How was your experience ? Share with us!</p>
                    </div>
                </div>
                <div class="row pb-2">
                    <div class="col-12 text-center">
                    <textarea class="form-control txt-box" id="" rows="4" placeholder="Enter Your Feedback" v-model="feedback.message"></textarea>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12 text-center">
                        <button class="yelloww-btn-modal" @click="submitFeddback(order.id)">SUBMIT</button>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- modal1 end -->

<!-- modal1 -->
<div class="modal fade feedback-success" id="feedback-modal2" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-5">
                <div class="row pb-2">
                    <div class="col-12 text-center">
                        <h1 class="modal-h1">Feedback Form </h1>

                    </div>
                </div>
                <div class="row pb-2">
                    <div class="col-12 text-center">
                        <p>Your feedback has been sent successfully!</p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12 text-center">
                        <a href="#" class="yelloww-btn-modal">OK</a>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- modal1 end -->

</layout>
</div>
</template>
<script>
import Layout from './layout/innerpages/Layout.vue';
import moment from 'moment';
export default {
    name:'UserOrderDetails',
    components:{Layout},
	data(){
		return{
		   order:[],
		   feedback:{
               message:'',
               orderId:''
           }
		}
	   },
		   created(){
			  this.getOrderDetails(); 
			},
			methods:{
			   dateFormat : function (date) {
               return moment(date, 'YYYY-MM-DD').format("MM/D/YYYY");
               },
			async getOrderDetails(){
				let orderId = this.$route.params.id;
				let response = await axios.get('user/getOrderDetails/'+orderId);	
				if(response){
			    this.order = response.data; 	
				this.$toasted.success(response.data.message);
				}
			    else{
				this.$toasted.error(response.data.message);		
				}
				},
		    feedbacks(){
                $('.feedback-modal').modal({modal: true});
			},
            async submitFeddback(id){
                this.feedback.orderId  = id;
                let response = await axios.post('user/submitFeddback',this.feedback);	
				if(response){
			    $('.feedback-modal').hide();		
			    $('.feedback-success').modal({modal: true});
				}
			    else{
				this.$toasted.error(response.data.message);		
				}
            } 
			
		
  }
}
</script>
