<template>
<div>
<layout>
  <section class="inner-bg">
</section>

<section class="main-card">
    <div class="container">
        <div class="card">

            <div class="app-content content user view-customer customer-product">
                <div class="content-wrapper">
                    <div class="content-body">
                        <!-- Basic form layout section start -->
                        <section class="payment-log p-60">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="session-header text-center">
                                            <h1 class="blue-txt2">Payment Log</h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="top mt-5">
                                    <div class="row">
                                        <div class="col-12">
                                            <label for="">sort by :</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-3 col-md-4 col-sm-6 col-12">
                                            <input type="date" id="datepicker-2" v-model="from">
                                        </div>
                                        <div class="col-xl-3 col-md-4 col-sm-6 col-12">
                                            <input type="date" id="datepicker-3" v-model="to">
                                        </div>
                                        <div class="col-xl-3 col-md-4 col-sm-6 col-12">
                                             <button class="wizard-btn" @click="getPaymentLog">Apply</button>  
                                        </div>
                                         <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                                                <label>Search 
                                                <input type="text" class="form-control form-control-sm" v-model="search"  @keyup="getPaymentLog">
                                                </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-12">
                                        <div class="table">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>S.no</th>
                                                        <th>Quotation ID</th>
                                                        <th>Date</th>
                                                        <th>Time</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody v-if="payments.data != ''">
                                                    <tr :key="payment.id" v-for="(payment, index) in payments.data">
                                                      <td>{{++index}}</td>
                                                      <td>{{payment.order.quote_id}}</td>
                                                      <td>{{dateFormat(payment.created_at)}}</td>
                                                      <td>{{payment.order.time}}</td>
                                                      <td>{{payment.status}}</td>
                                                    </tr>
                                                </tbody>
                                            <tbody v-else>
                                                <tr>
                                                    <td colspan="6" align="center">No Data Found!...</td>
                                                </tr>
                                            </tbody>
										</table>
                                       <pagination :data="payments" @pagination-change-page="getPaymentLog"></pagination>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</layout>
    </div>
</template>

<script>
import Layout from './layout/innerpages/Layout.vue';
import DatePicker from 'vue2-datepicker';
import moment from 'moment';
export default {
    name:'PaymentLog',
    components:{Layout,DatePicker},
        data(){
        return{
            user:'',
            payments:{},
            search:'',
            id:'',
            from:'',
            to:''        
            }
    },
    created(){
        //alert(this.$route.params.id);
        this.getPaymentLog()
    },
    methods:{
        dateFormat : function (date) {
        return moment(date, 'YYYY-MM-DD').format("MM/D/YYYY");
        },
        getPaymentLog(page =1){
        let userId = localStorage.getItem('user');    
        try{
        axios({
        url:'user/paymentLogs?page='+page,
        method:'get',
        params:{
        id:this.$route.params.id,
        from:this.from,
        to:this.to,
        entries:10,
        search:this.search,  
        id:userId 
        }    
        }).then((response)=>{
        if(response.status == 200){
        this.payments = response.data.payment_log   
        }
        })
        }catch(err){
        console.log(err)
        }    
        },

    }
    
    
    
    }

</script>

<style scoped>
.content-body {
    margin-top: 4%;
}
</style>