<template>
   <div>
      <layout>
       <section class="inner-bg">
      </section>

<section class="main-card">
    <div class="container">
        <div class="card">
            <div class="app-content content user view-customer customer-product">
                <div class="content-wrapper">
                    <div class="content-body">
                        <section class="payment-log p-60">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="session-header text-center">
                                            <h1 class="blue-txt2">Quotation Log</h1>
                                        </div>
                                    </div>
                                </div>

                                <div class="top mt-5">
                                    <div class="row">
                                        <div class="col-12">
                                            <label for="">sort by :</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xl-3 col-md-4 col-sm-6 col-12">
                                            <input type="date" id="datepicker-2" v-model="from">
                                        </div>
                                        <div class="col-xl-3 col-md-4 col-sm-6 col-12">
                                            <input type="date" id="datepicker-3" v-model="to">
                                        </div>
                                        <div class="col-xl-3 col-md-4 col-sm-6 col-12">
                                           <button class="wizard-btn" @click="getQuatationsLog">Apply</button>  
                                        </div>
                                         <div class="col-xl-3 col-lg-4 col-md-6 col-12">
                                                <label>Search 
                                                <input type="text" class="form-control form-control-sm" v-model="search"  @keyup="getQuatationsLog">
                                                </label>
                                            </div>
                                      </div>
                                    </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="table">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>S.no</th>
                                                        <th>Quotation ID</th>
                                                        <th>Date</th>
                                                        <th>Time</th>
                                                        <th>Status</th>
                                                        <th>Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody v-if="quatations.data != ''">
                                                    <tr  v-for="(qoute, index) in quatations.data" :key="index">
                                                       <td>{{++index}}</td>
                                                       <td>{{qoute.id}}</td>
                                                       <td>{{dateFormat(qoute.created_at)}}</td>
                                                       <td>{{qoute.time}}</td>
                                                       <td>{{qoute.status}}</td>
                                                        <td class="text-right">
                                                            <div class="btn-group mr-1 mb-1">
                                                                <button type="button" class="btn btn-drop-table btn-sm"
                                                                    data-toggle="dropdown" aria-haspopup="true"
                                                                    aria-expanded="false"> <i
                                                                        class="fa fa-ellipsis-v"></i></button>
                                                                <div class="dropdown-menu" x-placement="bottom-start">
                                                                    <router-link class="dropdown-item" :to="{name:'quotation-detail',params:{id:qoute.id}}"><i
                                                                            class="fa fa-eye"></i>View</router-link>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <tbody v-else>
                                                <tr>
                                                    <td colspan="6" align="center">No Data Found!...</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <pagination :data="quatations" @pagination-change-page="getQuatationsLog"></pagination>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</layout>
</div>
</template>
<script>
import Layout from './layout/innerpages/Layout.vue';
import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';
import moment from 'moment';
export default {
    name:'QuotationLog',
    components:{Layout,DatePicker},
    data(){
    return{
    quatations:{}, 
    search:'', 
    entries:10,
    to:'',
    from:''  
    }   
    },
      created(){
         this.getQuatationsLog() 
      },
      methods:{
      dateFormat : function (date) {
      return moment(date, 'YYYY-MM-DD').format("MM/D/YYYY");
      },
        getQuatationsLog(page =1){
        let userId = localStorage.getItem('user');    
        try{
        axios({
        url:'user/getQuotations?page='+page,
        method:'get',
        params:{
        id:this.$route.params.id,
        from:this.from,
        to:this.to,
        entries:this.entries,
        search:this.search,
        id:userId
        }    
        }).then((response)=>{
        if(response.status == 200){
        this.quatations = response.data.qoutations   
        }
        })
        }catch(err){
        console.log(err)
        }    
        }    
    }
}
</script>
<style scoped>
.content-body {
    margin-top: 4%;
}
</style>