<template>
<div>
<layout>
 <section class="inner-bg">
</section>

<section class="main-card step-form">
    <div class="container log-details">
        <div class="card">
                <div class="col-xs-4 col-md-5 col-lg-5 text-left">
                        <div class=" ml-3"><router-link :to="{name:'quotation-log'}" class="text-black"><i class="fas fa-arrow-left mr-1"></i>Back</router-link></div>
                </div>
                <div class="col-xs-12 col-md-12 col-lg-12 text-center">
                        <div class="text-center"><h2> Quotation Log Details</h2></div>
                </div>
            <!-- <div class="row text-center justify-content-center">
                <div class="col-lg-6">
                    <div class="for-search-bar pb-4">
                        <label for="" class="w-100"><input type="search" class="form-control form-control-sm" placeholder="Search" aria-controls=""></label>
                    </div>
                </div>
            </div> -->

        <!-- Loading Details Log -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="for-blue-head">
                        <h3>Loading Details </h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="for-padd pb-5 pt-4">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-5">
                                    <label for="inputEmail4">Address</label>
                                    <p>{{quotation.address.collection_address}}</p>
                                </div>
                                <div class="form-group col-md-5">
                                    <label for="inputEmail4">City</label>
                                    <p>{{quotation.address.collection_city}}</p>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inputEmail4">Status:</label>
									 <span class="l-green ml-1" v-if="quotation.status  == 'Received'">Received</span>
									 <span class="l-red ml-1"   v-if="quotation.status  == 'Cancelled'">Cancelled</span>
									 <span class="l-lime ml-1"  v-if="quotation.status  == 'Pending'">Pending</span>
									 <span class="l-green ml-1"   v-if="quotation.status == 'Completed'">Completed</span>
									  <br>
                                    <label for="inputEmail4">Cost:</label><span class="ml-1">{{quotation.quotation_price}}</span>
                                </div>

                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">State</label>
                                    <p>{{quotation.address.collection_region}}</p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Postal Code</label>
                                    <p>{{quotation.address.collection_postcode}}</p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Country</label>
                                    <p>{{quotation.address.collection_country}}</p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Loading Date</label>
                                    <p>{{dateFormat(quotation.address.collection_date)}}</p>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Loading Time</label> <br>
                                    <span>To {{quotation.address.collection_time_to}} </span><span>Till: {{quotation.address.collection_time_to}}</span>
                                </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>

        <!-- Delivery Details Log -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="for-blue-head">
                        <h3>Delivery Details</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="for-padd">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Address</label>
                                    <p>{{quotation.address.delivery_address}}</p>
                                </div>
                                <div class="form-group col-md-8">
                                    <label for="inputEmail4">City</label>
                                    <p>{{quotation.address.delivery_city}}</p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">State</label>
                                    <p>{{quotation.address.delivery_region}}</p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Postal Code</label>
                                    <p>{{quotation.address.delivery_postcode}}</p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Country</label>
                                    <p>{{quotation.address.delivery_country}}</p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Loading Date</label>
                                    <p>{{dateFormat(quotation.address.delivery_address)}}</p>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Loading Time</label> <br>
                                    <span>To {{quotation.address.delivery_time_to}} </span><span>Till: {{quotation.address.delivery_time_from}}</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Delivery Details Log -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="for-blue-head">
                        <h3>Delivery Details</h3>
                    </div>
                </div>
            </div>
          <div class="row">
                <div class="col-lg-12">
                    <div class="for-padd">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Address</label>
                                    <p>{{quotation.address.delivery_address}}</p>
                                </div>
                                <div class="form-group col-md-8">
                                    <label for="inputEmail4">City</label>
                                    <p>{{quotation.address.delivery_city}}</p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">State</label>
                                    <p>{{quotation.address.delivery_region}}</p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Postal Code</label>
                                    <p>{{quotation.address.delivery_postcode}}</p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Country</label>
                                    <p>{{quotation.address.delivery_country}}</p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Loading Date</label>
                                    <p>{{dateFormat(quotation.address.delivery_address)}}</p>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">Loading Time</label> <br>
                                    <span>To {{quotation.address.delivery_time_to}} </span><span>Till: {{quotation.address.delivery_time_from}}</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <!-- Quotation Details Log -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="for-blue-head">
                        <h3>Quotation Details</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="for-padd">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Package Type</label>
                                    <p>{{quotation.quotation_details.package.package_type}}</p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Quantity</label>
                                    <p>{{quotation.quotation_details.quantity.quantity}}</p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Dimension Unit</label>
                                    <p>{{quotation.quotation_details.length_unit}}</p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Length</label>
                                    <p>{{quotation.quotation_details.length}}</p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Width</label>
                                    <p>{{quotation.quotation_details.width}}</p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Height</label>
                                    <p>{{quotation.quotation_details.height}}</p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Weight Unit</label> <br>
                                      <p>{{quotation.quotation_details.weight_unit}}</p>
                                </div>
                                <div class="form-group col-md-4">
                                    <label for="inputEmail4">Weight</label> <br>
                                    <p>{{quotation.quotation_details.weight}}</p>
                                </div>
                                <div class="form-group col-md-12 mb-3">
                                    <label for="inputEmail4">Delivery Note</label> <br>
                                    <p>{{quotation.quotation_details.delivery_note}}</p>
                                </div>

                                <div class="form-group text-center mt-5 mb-5 mx-auto" v-if="quotation.status == 'Received'">
                                    <button  class="yelloww-btn card-button" @click.prevent.stop="pay(quotation.id)">Pay</button>
                                    <button  class="bluee-btn card-button"   @click.prevent.stop="cancel">Cancel</button> 
                                </div>
								 <div class="form-group text-center mt-5 mb-5 mx-auto" v-if="quotation.status == 'Expired'">
                                    <button  class="yelloww-btn" disabled>Pay</button>
                                    <button  class="bluee-btn" disabled>Cancel</button> 
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- modal1 -->
<div class="modal fade quotation-cancel" id="quotation-cancel" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-5">
                <div class="row pb-2">
                    <div class="col-12 text-center">
                        <h1 class="modal-h1">System Message </h1>

                    </div>
                </div>
                <div class="row pb-2">
                    <div class="col-12 text-center">
                        <p>Are you sure you want to cancel the quotation?</p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12 text-center">
                          <a href="javascript:void(0)" class="yelloww-btn-modal" @click="updateStatus(quotation.id)">YES</a>
                          <a href="javascript:void(0)" @click.prevent.stop="cancel" class="bluee-btn">NO</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- modal1 end -->

<!-- modal1 -->
<div class="modal fade quotation-cancel-success" id="quotation-cancel-conf" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-5">
                <div class="row pb-2">
                    <div class="col-12 text-center">
                        <h1 class="modal-h1">System Message </h1>

                    </div>
                </div>
                <div class="row pb-2">
                    <div class="col-12 text-center">
                        <p>Quotation has been cancelled</p>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12 text-center">
                        <button class="yelloww-btn-modal" @click.prevent.stop="closemodel">GOT IT</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- modal1 end -->


<!-- modal1 -->
<div class="modal fade payment-modal" id="pay" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-5">
                <div class="row pb-2">
                    <div class="col-12 text-center">
                        <h1 class="modal-h1">Card Details</h1>
                    </div>
                </div>
                <div class="row pb-2">
                    <div class="col-6 text-center">
                        <label for="">Quotation ID</label>
                        <h6>{{quotId}}</h6>
                    </div>
                    <div class="col-6 text-center">
                        <label for="">Charges</label>
                        <h6>{{card_details.quotePrice}}</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="card_holder_name">Card Holder Name</label>
                                    <input type="text" class="form-control" id="card_holder_name" v-model="card_details.card_holder_name"
                                        placeholder="Enter Card Holder Name">
                                         <span v-if="errors.card_holder_name" class="error">{{errors.card_holder_name[0]}}</span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="card_number">Card Number</label>
                                    <input type="number" class="form-control" id="card_number" v-model="card_details.card_number"
                                        placeholder="Enter Card Number">
                                        <span v-if="errors.card_number" class="error">{{errors.card_number[0]}}</span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="cvv_code">CVV Code</label>
                                    <input type="number" class="form-control" id="cvv_code"  v-model="card_details.cvv_code"
                                        placeholder="Enter Code Number">
                                         <span v-if="errors.cvv_code" class="error">{{errors.cvv_code[0]}}</span>
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="expiry_date">Expiry Date</label>
                                    <input type="month" class="form-control" id="expiry_date" v-model="card_details.expiry_date"
                                        placeholder="Enter Expiry Date">
                                         <span v-if="errors.expiry_date" class="error">{{errors.expiry_date[0]}}</span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-12 text-center">
                        <button class="yelloww-btn-modal" @click="payment(quotId)">PAY</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- modal1 end -->

</layout>
</div>
</template>
<script>
import Layout from './layout/innerpages/Layout.vue';
import moment from 'moment';
export default {
    name:'UserQuotationDetails',
    components:{Layout},
	data(){
		return{
		   quotation:[],
		   quotId:'',
           card_details:{
               card_holder_name:'',
               card_number:'',
               cvv_code:'',
               expiry_date:'',
               quoteId:'',
               quotePrice:'',
               userId:''
               
           } ,
           errors:[]  
		}
	   },
		   created(){
			  this.getQuotationDetails(); 
			},
			methods:{
			   dateFormat : function (date) {
               return moment(date, 'YYYY-MM-DD').format("MM/D/YYYY");
               },
			async getQuotationDetails(){
				let quotId = this.$route.params.id;
				let response = await axios.get('user/getQuotationDetails/'+quotId);	
				if(response){
			    this.quotation = response.data; 	
                this.card_details.quotePrice = this.quotation.quotation_price
				this.$toasted.success(response.data.message);
				}
			    else{
				this.$toasted.error(response.data.message);		
				}
				},
		    cancel(){
                $('.quotation-cancel').modal({modal: true});
			},
            closemodel(){
                setTimeout(function () {
                window.location.reload();
                this.$router.push({path:'/user/order-log'});
                }, 1000);  
                 $('.quotation-cancel-success').hide();
                 $('.modal-backdrop').remove();
            },
		   async updateStatus(id){
				let response = await axios.get('user/changeStatus/'+id);	
				if(response){
			    $('.quotation-cancel').hide();		
			    $('.quotation-cancel-success').modal({modal: true});
				}
			    else{
				this.$toasted.error(response.data.message);		
				}
			},	
		  async pay(id){
			    this.quotId = id;
				$('.payment-modal').modal({modal: true});
			},
        
          payment(id){
                this.card_details.quoteId = id;
                this.card_details.userId  = localStorage.getItem('user');
                axios({
                url:'user/addQuotationOrder',
                method:'post',
                data:this.card_details
                }).then((response)=>{ 
                setTimeout(function () {
                window.location.reload();
                this.$router.push({path:'/user/order-log'});
                }, 1000);      
                $('.payment-modal').hide();
                $('.modal-backdrop').remove();
                console.log(response.data)
                this.$toasted.success('Payment Successfully Done Againest Quote').goAway(2000); 
                }).catch((error)=>{ 
                this.errors = error.response.data.errors; 
                
                })
	    	}
  }
}
</script>
