<template>
<div>
<layout>
<section class="inner-bg">
    <div class="heding-txt">
        <h3>Services</h3>
    </div>
</section>

<section class="service-box">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <img :src="base_url+'/public/assets/user/images/service-pic1.png'" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8">
                <div class="service-detail">
                     <img :src="base_url+'/public/assets/user/images/truck-ic.png'" class="img-fluid" alt="">
                    <h2>Road Freight In City</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the when an unknown printer took a galley of type
                        and scrambled it to make a type specimen book. <br> <br>

                        It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged. It was popularised in the with the release of Letraset sheets
                        containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                        PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="service-box">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-8">
                <div class="service-detail">
                <img :src="base_url+'/public/assets/user/images/ship1.png'" class="img-fluid" alt="">
                    <h2>Road Freight In City</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the when an unknown printer took a galley of type
                        and scrambled it to make a type specimen book. <br> <br>

                        It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged. It was popularised in the with the release of Letraset sheets
                        containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                        PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <img :src="base_url+'/public/assets/user/images/ship-pic.png'" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
<section class="service-box">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <img :src="base_url+'/public/assets/user/images/ship-pic.png'" class="img-fluid" alt="">
                <img src="images/worker-pic.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8">
                <div class="service-detail">
                    <img src="images/truck-ic2.png" alt="">
                    <h2>Road Freight In City</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the when an unknown printer took a galley of type
                        and scrambled it to make a type specimen book. <br> <br>

                        It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged. It was popularised in the with the release of Letraset sheets
                        containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                        PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="service-box">
    <div class="container">
        <div class="row align-items-center">

            <div class="col-lg-8">
                <div class="service-detail">
                    <img :src="base_url+'/public/assets/user/images/world-ic.png'" class="img-fluid" alt="">
                    <h2>Road Freight In City</h2>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the when an unknown printer took a galley of type
                        and scrambled it to make a type specimen book. <br> <br>

                        It has survived not only five centuries, but also the leap into electronic typesetting,
                        remaining essentially unchanged. It was popularised in the with the release of Letraset sheets
                        containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
                        PageMaker including versions of Lorem Ipsum.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <img :src="base_url+'/public/assets/user/images/study-pic.png'" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
</layout>
</div>
</template>
<script>
import Layout from './layout/home/Layout.vue';
export default {
    name:'Profile',
    data(){
        return{
            user:'',
            id:'',
            checkCurrantPass:'',
            currantPassword:'',
            newPassword:'',
            confirmPassword:'',
            checkPassErr:'',
			errors:[],
			base_url:base_url
        }
    },
  
    components:{Layout},
}
</script>
