<template>
    <div>
        <layout>
    <div class="app-content content payment-log">
	<div class="content-wrapper">
		<div class="content-body">
			<!-- Basic form layout section start -->
			<section id="configuration">
				<div class="row">
					<div class="col-12">
						<div class="card rounded pad-20">
							<div class="card-content collapse show">
								<div class="card-body card-dashboard">
									<div class="row">
										<div class="col-12">
											<h1><router-link :to="{path:'/admin/users'}"><i class="fa fa-angle-left"></i>User Listing</router-link></h1>
											<div class="pro-info">
												<img :src="base_url+`/uploads/${user.profile}`" class="img-fluid" alt="">
												<h4>User ID: {{user.id}}</h4>
												<h5>{{user.first_name}}</h5>
											</div>
											<div class="quot-head">
												<h6>payment Log</h6>
											</div>
										</div>
									</div>
					                    <label for="sort">sort by</label>
                                          <div class="row">
                                            
                                            <div class="col-xl-4 col-lg-6 col-md-10 col-12">
                                             From: <date-picker v-bind:style="{'display':'inline-block'}" v-model="from" valueType="format">
                                                     </date-picker>
                                            </div> 
                                            <div class="col-xl-4 col-lg-6 col-md-10 col-12">
                                                 To: <date-picker v-model="to" valueType="format"></date-picker>
                                                &nbsp; &nbsp;<button class="btn btn-success" @click="getData">Apply</button>
                                            </div>
                                            <div class="col-xl-4 col-lg-6 col-md-10 col-12">
                                                 <label>Search 
                                                 <input type="text" v-model="search" class="form-control form-control-sm" @keyup="getUserPaymentLog">
                                                </label>
                                           </div>
                                        </div>  
									<div class="clearfix"></div>
									<div class="maain-tabble table-responsive">
										<table class="table">
											<thead>
												<tr>
													<th>s.no</th>
													<th>Order ID</th>
													<th>Payment Date</th>
													<th>Charges</th>
													<th>Status</th> 
												</tr>
											</thead>
											<tbody v-if="payments != ''">
											<tr :key="payment.id" v-for="(payment, index) in payments">
                                                <td>{{++index}}</td>
                                                <td>{{payment.order_id}}</td>
                                                <td>{{dateFormat(payment.payment_date)}}</td>
                                                <td>{{payment.charges}}</td>
                                                <td v-if="payment.status == 'Paid'" v-bind:style="{'color':'green'}">Paid</td>
                                                <td v-if="payment.status == 'Unpaid'" v-bind:style="{'color':'red'}">Unpaid</td>
                                            </tr>
											</tbody>
                                            <tbody v-else>
                                                <tr>
                                                    <td colspan="6" align="center">No Data Found!...</td>
                                                </tr>
                                            </tbody>
										</table>
                                       <pagination :data="payments" @pagination-change-page="getUserPaymentLog"></pagination>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
    </div>
</layout>
    </div>
</template>

<script>
import Layout from '../../../layout/Layout.vue';
import DatePicker from 'vue2-datepicker';
import moment from 'moment';
export default {
    name:'UserPaymentLog',
    components:{Layout,DatePicker},
        data(){
        return{
            user:'',
            payments:{},
            id:'',
            from:'',
            to:'',    
            search:'',
            base_url:base_url 
            }
    },
    created(){
       alert('gffdg');
        this.paymentLogs()
    },
    methods:{
        dateFormat : function (date) {
        return moment(date, 'YYYY-MM-DD').format("MM/D/YYYY");
        },
        paymentLogs(page =1){
        let userId  = localStorage.getItem('user');    
        try{
        axios({
        url:'user/paymentLogs?page='+page,
        method:'get',
        params:{
        id:this.$route.params.id,
        entries:10 ,
        search:this.search,
        userId:userId   
        }    
        }).then((response)=>{
        if(response.status == 200){
        //alert('done');
        this.user = response.data.user;
        this.payments = response.data.user_payment_log.data    
        console.log(this.payments, '==========');
        }
        })
        }catch(err){
        console.log(err)
        }    
        },
      
      }
    
    
    
    }

</script>
