<template>
 <div>
<layout>
<section class="inner-bg">
</section>
<section class="main-card">
    <div class="container">
        <div class="card">
            <div class="row pb-4 align-items-center">
                <div class="col-lg-12 text-center">
                    <h1 class="blue-txt2 m-0">profile</h1>
                    <img  :src="base_url+`/uploads/${user.profile}`" alt="" width="50px">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="for-blue-head ">
                        <h3>Business Information</h3>
                        <span>User ID: {{user.id}}</span>
                    </div>
                </div>
            </div>
            <div class="for-padd2">
                <div class="row align-items-baseline">
                    <div class="col-12 col-xl-4 col-md-6">
                        <ul>
                            <li>
                            <label for="">First Name</label>
                            <h6>{{user.first_name}}</h6>
                            </li>
                            <li>
                            <label for="">Phone Number</label>
                            <h6>{{user.phone_no}}</h6>
                            </li>
                            <li>
                            <label for="">Company No</label>
                            <h6>{{user.company_no}}</h6>
                            </li>
                            <li>
                            <label for="">Vat No</label>
                            <h6>{{user.vat_no}}</h6>
                            </li>
                            <li>
                            <label for="">County</label>
                            <h6>{{user.country}}</h6>
                            </li>
                            <li>
                            <label for="">City</label>
                            <h6>{{user.city}}</h6>
                            </li>
                        </ul>
                    </div>               
                    <div class="col-12 col-xl-4 col-md-6">
                        <ul>
                            <li>
                            <label for="">Last Name</label>
                            <h6>{{user.last_name}}</h6>
                            </li>
                            <li>
                            <label for="">Email Address</label>
                            <h6>{{user.email}}</h6>
                            </li>
                            <li>
                            <label for="">Company</label>
                            <h6>{{user.company}}</h6>
                            </li>
                            <li>
                            <label for="">Billing Address</label>
                            <h6>{{user.address}}</h6>
                            </li>
                            <li>
                            <label for="">Post Code</label>
                            <h6>{{user.post_code}}</h6>
                            </li>
                        </ul>
                    </div>               
                    <div class="col-12 col-xl-4 col-md-12">
                        <div class="profile-pas-chng">
                            <a href="#" class="bluee-btn2 mb-2" data-toggle="modal"
                                        data-target="#change-pass" >Change Password</a>
                            <router-link :to="{name:'edit-profile',params:{id:user.id}}" class="yelloww-btn3">Edit Profile</router-link>
                        </div>
                    </div>               
                </div>
            </div>
        </div>
    </div>
</section>
</layout>
<div class="modal fade blocked-modal" id="change-pass" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-5">
                <div class="row pb-4">
                    <div class="col-12 text-center">
                        <h1 class="modal-h1">Change Password </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label for="password">Current Password</label>
                                    <input :type="passwordEye" class="form-control log2" id="password"
                                        placeholder="Enter Current Password" v-model="currantPassword">
                                    <button class="view-btn-eye ch-pass"><i @click.prevent="togglePasswordEye('passwordEye','passwordClass')" :class="passwordClass" class="fa fa-eye"></i></button>
                                <span v-if="errors.currantPassword" class="error">{{errors.currantPassword[0]}}</span>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="new_password">New Password</label>
                                    <input :type="passwordEyee" class="form-control log2" id="new_password"
                                       placeholder="Enter New Password" v-model="newPassword">
                                    <button class="view-btn-eye ch-pass"><i @click.prevent="togglePasswordEyee('passwordEyee','passwordClasss')" :class="passwordClasss"  class="fa fa-eye"></i></button>
                                <span v-if="errors.newPassword" class="error">{{errors.newPassword[0]}}</span>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="confirm_password">Confirm New Password</label>
                                    <input :type="passwordEyeee" class="form-control log2" id="confirm_password"
                                         placeholder="Enter Confirm Password" v-model="confirmPassword">
                                    <button class="view-btn-eye ch-pass"><i @click.prevent="togglePasswordEyeee('passwordEyeee','passwordClassss')" :class="passwordClassss" class="fa fa-eye"></i></button>
                                <span v-if="errors.confirmPassword" class="error">{{errors.confirmPassword[0]}}</span>
                                </div>
                            </div>
                             <div class="row mt-4">
                            <div class="col-12 text-center">
                                <button type="submit" class="yelloww-btn-modal" @click.prevent="changePassword(user.id)">UPDATE</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
 </div>
</template>

<script>
import Layout from './layout/innerpages/Layout.vue';
export default {
    name:'ViewProfile',
    components:{Layout},
    data(){
        return{
            errors:[],
            user:null,
            id:null,
			base_url:base_url,
            currantPassword:'',
            newPassword:'',
            confirmPassword:'', 

            passwordClass : 'fa-eye',
            passwordEye: 'password',
            passwordClasss : 'fa-eye',
            passwordEyee: 'password',
            passwordClassss : 'fa-eye',
            passwordEyeee: 'password',
        }
    },
    created(){
		this.getProfile();
      },
	  methods:{
		 dateFormat : function (date) {
         return moment(date, 'YYYY-MM-DD').format("MMM Do YY");
         },
		 getProfile(){
	    try{
            axios({
            url:'user/viewProfile/'+this.$route.params.id,
            method:'get',
            }).then((response)=>{
            if(response.status == 200){
			//alert('working');
            this.user = response.data;
            }
            })
    		}catch(err){
            console.warn(err)
          } 		 
		 },
       
      togglePasswordEye(passwordVar,classVar){
        this[passwordVar] = this[passwordVar] == 'password'?"text": "password";
        this[classVar] = this[passwordVar] == 'password'?"fa-eye": "fa-eye-slash";
      },
       togglePasswordEyee(passwordVar,classVar){
        this[passwordVar] = this[passwordVar] == 'password'?"text": "password";
        this[classVar] = this[passwordVar] == 'password'?"fa-eye": "fa-eye-slash";
      }, 
        togglePasswordEyeee(passwordVar,classVar){
        this[passwordVar] = this[passwordVar] == 'password'?"text": "password";
        this[classVar] = this[passwordVar] == 'password'?"fa-eye": "fa-eye-slash";
      },
    changePassword(id){    
            axios({
            url:'user/updatePassword',
            method:'post',  
            data:{
            id:id,
            currantPassword:this.currantPassword,
            newPassword:this.newPassword,
            confirmPassword:this.confirmPassword
            }  
            }).then((response)=>{
            if(response.status == 200){ 
            $('.modal-backdrop').remove();       
            $('.modal-content').hide();  
             this.currantPassword = "";
             this.newPassword = "";
             this.confirmPassword = "";  
             this.$toasted.success(response.data.message).goAway(2000); 
				setTimeout(function () {
                        window.location.reload();
                         this.$router.push({name:'view-profile'});    
                    }, 1000);     
            }    
            }).catch((error)=>{
            this.errors = error.response.data.errors;   
            this.$toasted.error(err.data.message).goAway(2000);  
            });
        },
	}

}


</script>
<style scoped>
.content-body {
    margin-top: 4%;
}
</style>