<template>
<div>
<footer>
    <div class="container">
        <div class="row row-1">
            <div class="col-md-4 col-12 text-center animated wow slow fadeInDown"> <img :src="base_url+'/public/assets/user/images/want.png'" class="img-fluid">
                <h2>WANT TO WORK WITH US</h2>
            </div>
            <div class="col-md-4 col-12 text-center mt-md-0 mt-4 animated wow slow fadeInDown"> <img :src="base_url+'/public/assets/user/images/call-back.png'" class="img-fluid">
                <h2>ARRANGE A CALL BACK</h2>
            </div>
            <div class="col-md-4 col-12 text-center mt-md-0 mt-4 animated wow slow fadeInDown"> <img :src="base_url+'/public/assets/user/images/help.png'" class="img-fluid">
                <h2>NEED ANY HELP</h2>
            </div>
        </div>
        <div class="row row-2">
            <div class="col-12 text-center"> <a href="index.php"><img :src="base_url+'/public/assets/user/images/footer-logo.png'" class="img-fluid"></a></div>
        </div>
        <div class="row row-3">
            <div class="col-12 text-center">
                <a href="#_">
                    <h3 class="mr-md-3 mr-1 hvr-shutter-out-vertical">PRIVACY POLICY</h3>
                </a>
                <a href="#_">
                    <h3 class="ml-md-3 ml-1 hvr-shutter-out-vertical">TERMS &amp; CONDITIONS</h3>
                </a>
            </div>
        </div>
        <div class="row row-4">
            <div class="col-12 text-center">
                <h3 class="">FOLLOW US</h3>
                <ul class="social-ul topsocial">
                    <li>
                        <a href="javascript:void(0)" class="hvr-grow"> <i class="fab fa-facebook-f footericon "></i> </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="hvr-grow"> <i class="fab fa-twitter footericon "></i>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="hvr-grow"> <i class="fab fa-instagram footericon"></i> </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row row-5">
            <div class="col-12 text-center"> <img :src="base_url+'/public/assets/user/images/footer-email.png'" class="img-fluid">
                <a href="mailto:info@company.com" class="footermail ">info@company.com</a>
                <a href="tel:+012 345 6789" class="footernumber ">+012 345 6789</a>
            </div>
        </div>
    </div>
</footer>

</div>
</template>
<script>
export default {
    name:'Footer',
	data(){
		return{
			base_url:base_url,
			id:'',
			user:'',
			notifications:[],
			base_url:base_url,
			countNotification:''
		}
	},
	
}


</script>