<template>
    <div>
        <!-- <div class='preloader'>
        <div class="preloader-circle"></div>
       </div> -->
    <div class="container-fluid p-0">
            <header class="position-relative home-hdr">
            <nav class="navbar navbar-expand-lg navbar-light custom-nav"> <router-link :to="{name:'home'}" class="navbar-brand" href=""> <img
                        :src="base_url+'/public/assets/user/images/logo.png'" class="position-relative top-logo" alt="" loading="lazy"> </router-link>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span
                        class="navbar-toggler-icon ml-auto"></span> </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mr-5">
                        <li class="nav-item active"> <router-link :to="{name:'home'}" class="nav-link">HOME <span
                                    class="sr-only">(current)</span></router-link>
                        </li>
                        <li class="nav-item"> <router-link :to="{name:'about-us'}" class="nav-link">ABOUT US</router-link></li>
                        <li class="nav-item"> <router-link :to="{name:'services'}" class="nav-link">SERVICES</router-link></li>
                        <li class="nav-item"> <router-link :to="{name:'our-team'}" class="nav-link">OUR TEAM</router-link></li>
                        <li class="nav-item"> <router-link :to="{name:'get-quotation'}" class="nav-link" v-if="user">GET QUOTATION</router-link></li>
                        <li class="nav-item"> <router-link :to="{name:'contact-us'}" class="nav-link">CONTACT US</router-link></li>
                    </ul>
                    <ul class="login-ul d-lg-flex align-items-center" v-if="user == ''">
                        <li class="nav-item"> <label for="search-terms" id="search-label" class="top-icon"><img
                                    :src="base_url+'/public/assets/user/images/search.png'"></label>
                        </li>
                        <li class="nav-item"><router-link :to="{name:'login'}" class="nav-link login-ul-button login-btn">LOGIN</router-link>
                        </li>
                        <li class="nav-item"><a href="javascript:void(0)" class="forgot nav-link login-ul-button login-btn" data-toggle="modal" data-target="#modal1">Signup</a></li>
                    </ul>
                    <ul class="social-ul topsocial" v-if="user == ''">
                        <li> <a href="javascript:void(0)"> <i class="fab fa-facebook-f socialIcons "></i> </a> </li>
                        <li> <a href="javascript:void(0)"> <i class="fab fa-twitter socialIcons"></i> </a> </li>
                        <li> <a href="javascript:void(0)"> <i class="fab fa-instagram socialIcons "></i> </a> </li>
                    </ul>

                    <div class="navbar-nav ml-auto login-nav" v-if="user">
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-item nav-link notifications  user-action" data-toggle="dropdown"><i
                                    class="fa fa-bell"></i></a>
                            <div class="dropdown-menu noti-menu">
                                <div class="media"><a href="javascript:void(0)">
                                        <i class="fas fa-bell"></i>
                                    </a>
                                    <div class="media-body">
                                        <a href="javascript:void(0)">
                                            <p class="notification-text font-small-3 text-muted m-0"><span>No Notification Found</span><br></p>
                                        </a>
                                    </div>
                                    <p><a href="javascript:void(0)">View All</a></p>
                                </div>
                            </div>
                        </div>


                        <!-- <a href="#" class="nav-item nav-link notifications"><i class="fa fa-bell"></i></a> -->
                        <div class="nav-item dropdown">
                            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action d-flex"><img
                                    :src="base_url+`/uploads/${user.profile}`" class="avatar" alt="Avatar" width="50px">{{user.first_name}}<b
                                    class="caret"></b></a>
                            <div class="dropdown-menu">
                                <router-link :to="{name:'view-profile',params:{id:user.id}}" class="dropdown-item"><i
                                        class="fas fa-user-circle"></i> PROFILE</router-link>
                                <div class="dropdown-divider"></div>
                                <router-link :to="{name:'payment-log'}" class="dropdown-item"><i class="fas fa-dollar-sign"></i> PAYMENT LOGS</router-link>
                                <div class="dropdown-divider"></div>
                                <router-link :to="{name:'quotation-log'}" class="dropdown-item"><i class="fas fa-inbox"></i> QUOTATION LOGS</router-link>
                                <div class="dropdown-divider"></div>
                                <router-link :to="{name:'order-log'}" class="dropdown-item"><i class="fas fa-box"></i> ORDER LOGS</router-link>
                                <div class="dropdown-divider"></div>
                                <router-link  :to="{name:'logout'}" class="dropdown-item"><i class="fas fa-arrow-circle-right"></i> LOGOUT</router-link>
                            </div>
                        </div>
                    </div>

                </div>
            </nav>
            <!--Side Nav  -->
            <div id="mySidenav" class="sidenav"> <a href="javascript:void(0)" class="closebtn"
                    onclick="closeNav()">&times;</a>

                <div class="navbar-nav ml-auto login-nav">
                    <a href="#" class="nav-item nav-link notifications"><i class="fa fa-bell"></i></a>
                    <div class="nav-item dropdown">
                        <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle user-action d-flex"><img
                               :src="base_url+`/uploads/${user.profile}`" class="avatar" alt="Avatar" width="50px">{{user.first_name}}<b class="caret"></b></a>
                        <div class="dropdown-menu">
                            <a href="view-business-profile.php" class="dropdown-item"><i class="fas fa-user-circle"></i>
                                PROFILE</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item"><i class="fas fa-dollar-sign"></i> PAYMENT LOGS</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item"><i class="fa fa-sliders"></i> QUOTATION LOGS</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item"><i class="fa fa-sliders"></i> ORDER LOGS</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item"><i class="fas fa-arrow-circle-right"></i> LOGOUT</a>
                        </div>
                    </div>
                </div>
                 <ul class="navbar-nav mr-5">
                        <li class="nav-item active"> <router-link :to="{name:'home'}" class="nav-link">HOME <span
                                    class="sr-only">(current)</span></router-link>
                        </li>
                        <li class="nav-item"> <router-link :to="{name:'about-us'}" class="nav-link">ABOUT US</router-link></li>
                        <li class="nav-item"> <router-link :to="{name:'services'}" class="nav-link">SERVICES</router-link></li>
                        <li class="nav-item"> <router-link :to="{name:'our-team'}" class="nav-link">OUR TEAM</router-link></li>
                        <li class="nav-item"> <router-link :to="{name:'get-quotation'}" class="nav-link">GET QUOTATION</router-link></li>
                        <li class="nav-item"> <router-link :to="{name:'contact-us'}" class="nav-link">CONTACT US</router-link></li>
                    </ul>


            </div>
            <span style="font-size:20px;cursor:pointer;color:#f69321;border: 1px solid #f69321;padding: 3px;"
                class="customtoggler" onclick="openNav()">&#9776;</span>


            <!-- End side Nav -->
            <div id="searchcontainer">
                <form id="search" action="#" method="post">
                    <i class="fas fa-times"></i>
                    <input type="text" name="search-terms" id="search-terms" placeholder="Enter search terms...">
                </form>
            </div>
        </header>
    </div>
    <!-- modal1 -->
<div class="modal fade blocked-modal" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body pb-5">
                <div class="row">
                    <div class="col-12 text-center">
                        <img :src="base_url+'/public/assets/user/images/unlock.png'" alt="">

                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <h1 class="modal-h1">Signup as</h1>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12 d-flex justify-content-center align-items-center">
                        <router-link :to="{name:'customer-residential'}" class="yelloww-btn">Residential Customer</router-link>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12 d-flex justify-content-center align-items-center">
                         <router-link :to="{name:'business'}" class="blue-bor-btn">Business</router-link>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
</template>

<script>

export default {
    name:'Header',
	data(){
		return{
			base_url:base_url,
			id:'',
			user:'',
			notifications:[],
			base_url:base_url,
			countNotification:''
		}
	},
    created(){ 
    this.getLoginUser();    
    },
    methods:{
        getLoginUser(){  
		this.id = localStorage.getItem('user')
		try{
		axios({
		url:'user/loginUser?id='+this.id,
		method:'get',
		}).then((response)=>{
		if(response.status == 200){
		this.user = response.data
		}	
		})	
		}catch(err){
			console.log(err)
		}
		},
     }

}


</script>