<template>
<div>
<section class="inn-footer">
<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <div class="copyrit">
            <h4>Copyright © 2021 <span> Pound A Mile</span> - All Rights Reserved.</h4>
            </div>
        </div>
    </div>
</div>
</section>
</div>
</template>
<script>
export default {
    name:'Footer',
	data(){
		return{
			base_url:base_url,
			id:'',
			user:'',
			notifications:[],
			base_url:base_url,
			countNotification:''
		}
	},
	
}


</script>