<template>
 <div>
<layout>
    <div class="app-content content resi-profile">
	<div class="content-wrapper">
		<div class="content-body">
			<!-- Basic form layout section start -->
			<section id="configuration">
				<div class="row">
					<div class="col-12">
						<div class="card rounded pad-20">
							<div class="card-content collapse show">
								<div class="card-body card-dashboard">
									<div class="row">
										<div class="col-12">
											<h1><router-link :to="{name:'feedbacks'}"><i class="fa fa-angle-left"></i>Feedback</router-link></h1>
										</div>
									</div>
									<div class="info-head d-sm-flex justify-content-between">
										<h6>User Feedback</h6>
										<h6>User Id: 001</h6>
									</div>
									<div class="info-sec">
										<div class="top">
											<div class="row">
												<div class="col-12 text-right">
													<h3>Registration Date :</h3>
													<h2>Nov 20, 2020</h2>
												</div>
											</div>
											<div class="row">
												<div class="col-12 col-xl-4 col-md-6">
													<label for="">first name</label>
													<h6>Mark</h6>
												</div>
												<div class="col-12 col-xl-4 col-md-6">
													<label for="">last name</label>
													<h6>Carson</h6>
												</div>
											</div>
											<div class="row">
												<div class="col-12 col-xl-4 col-md-6">
													<label for="">Email Address</label>
													<h6>Abc@xyz.com</h6>
												</div>
												<div class="col-12 col-xl-4 col-md-6">
													<label for="">Subject</label>
													<h6>Abc</h6>
												</div>
												<div class="col-xl-9 mt-2 pb-5 col-lg-10 col-12">
													<label for="">Message</label>
													<h6 class="lh">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</h6>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
</layout>
</div>
</template>

<script>
import Layout from '../../../layout/Layout.vue';
import DatePicker from 'vue2-datepicker';
export default {
    name:'OrderLog',
    components:{Layout,DatePicker},
            data(){
            return{
                feedback:{}        
                }
         },
            created(){
                this.feedbackDetails()
            },
            methods:{
            dateFormat : function (date) {
                return moment(date, 'YYYY-MM-DD').format("MM/D/YYYY");
            },   
          feedbackDetails(){
                try{
                axios({
                url:'feedbackDetails',
                method:'get',
                params:{
                id:this.$route.params.id,    
                }    
                }).then((response)=>{
                if(response.status == 200){
                this.feedback = response.data.user;
                console.log(this.user);     
                }
                })
                }catch(err){
                console.log(err)
                }    
                },
            }
    }

</script>
<style scoped>
.content-body {
    margin-top: 4%;
}
</style>