<template>
 <div>
    <layout>
    <div class="app-content content payment-log">
	<div class="content-wrapper">
		<div class="content-body">
			<!-- Basic form layout section start -->
			<section id="configuration">
				<div class="row">
					<div class="col-12">
						<div class="card rounded pad-20">
							<div class="card-content collapse show">
								<div class="card-body card-dashboard">
									<div class="row">
										<div class="col-12">
											<div class="col-12 col-xl-4">
                                                <h1>
                                               Feedback Log
                                                </h1>
                                            </div>
										</div>
									</div>
									   <label for="sort">sort by</label>
                                          <div class="row">
                                            
                                            <div class="col-xl-4 col-lg-6 col-md-10 col-12">
                                             From: <date-picker v-bind:style="{'display':'inline-block'}" v-model="from" valueType="format">
                                                     </date-picker>
                                            </div> 
                                            <div class="col-xl-4 col-lg-6 col-md-10 col-12">
                                                 To: <date-picker v-model="to" valueType="format"></date-picker>
                                                &nbsp; &nbsp;<button class="btn btn-success" @click="getData">Apply</button>
                                            </div>
                                             <div class="col-xl-4 col-lg-6 col-md-10 col-12">
                                                <label>Search 
                                                <input type="text" v-model="search" class="form-control form-control-sm" @keyup="Feedbacks">
                                                </label>
                                            </div>
                                        </div> 
									<div class="clearfix"></div>
									<div class="maain-tabble table-responsive">
										<table class="table">
											<thead>
												<tr>
													<th>s.no</th>
													<th>User Id</th>
													<th>First Name</th>
                                                    <th>Last Name</th>
													<th>Email Address</th>
													<th>Date</th> 
                                                    <th>Action</th> 
												</tr>
											</thead>
                                            <tbody v-if="feedbacks != ''">
                                               <tr v-for="(feedback,index) in feedbacks" :key="index">
                                                     <td>{{++index}}</td>
                                                     <td>{{feedback.id}}</td>
                                                     <td>{{feedback.first_name}}</td>
                                                     <td>{{feedback.last_name}}</td>
                                                     <td>{{feedback.email}}</td>
                                                     <td>{{dateFormat(feedback.created_at)}}</td>
                                                <td><div class="btn-group mr-1 mb-1">
                                                <button type="button" class="btn btn-drop-table btn-sm" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></button>
                                                 <div class="dropdown-menu"> <router-link :to="{path:'/admin/feedback-details/'+feedback.id}" class="dropdown-item"><i class="fa fa-eye"></i>View</router-link></div> </div></td>
                                                </tr>
                                                
                                            </tbody>
                                            <tbody v-else>
                                                <tr>
                                                    <td colspan="6" align="center">No Data Found!...</td>
                                                </tr>
                                            </tbody>
										</table>
                                       <pagination :data="feedbacks" @pagination-change-page="feedbacks"></pagination>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
	 		</section>
		 </div>
	  </div>
    </div>
</layout>
</div>
</template>

<script>
import Layout from '../../../layout/Layout.vue';
import DatePicker from 'vue2-datepicker';
export default {
    name:'OrderLog',
    components:{Layout,DatePicker},
            data(){
            return{
                feedbacks:{},
                search:'',
                id:'',
                from:'',
                to:''        
                }
        },
            created(){
                this.Feedbacks()
            },
            methods:{
            dateFormat : function (date) {
                return moment(date, 'YYYY-MM-DD').format("MM/D/YYYY");
            },   
            Feedbacks(page =1){
                try{
                axios({
                url:'getFeedbacks?page='+page,
                method:'get',
                params:{
                entries:10, 
                from:this.from,
                to:this.to 
                }    
                }).then((response)=>{
                if(response.status == 200){
                this.feedbacks = response.data.data 
				console.log(this.feedbacks)       
                }
                })
                }catch(err){
                console.log(err)
                }    
                },
                getData:function(page =1){
                try{
                axios({
                url:'getFeedbacks?page='+page,
                method:'get',
                params:{
                entries:10,    
                from:this.from,
                to:this.to,
                }
                }).then((response)=>{
                if(response.status == 200){
                console.log(response.data)
                this.feedbacks = response.data;            
                }
                })
                }catch(err){
                console.warn(err)
                }
              }
            }
    }

</script>
<style scoped>
.content-body {
    margin-top: 4%;
}
</style>