<template>
    <div>
    <layout>
    <div class="app-content content dashboard">
	<div class="content-wrapper">
		<div class="content-body">
			<!-- Basic form layout section start -->
			<section id="configuration">
				<div class="row">
					<div class="col-12">
						<div class="card rounded pad-20">
							<div class="card-content collapse show">
								<div class="card-body card-dashboard">
									<div class="row">
										<div class="col-12">
											<h1>admin dashboard</h1>
										</div>
									</div>
									<div class="row">
										<div class="col-12">
											<div class="box">
												<div class="text-center">
													<h6>Quick Stats</h6>
												</div>
												<div class="row">
													<div class="col-md-6 col-12 text-center">
														<div class="c100 p40 big orange"> <span>60$</span>
															<div class="slice">
																<div class="bar"></div>
																<div class="fill"></div>
															</div>
														</div>
														<h6 class="yel">Average Monthly Income</h6>
													</div>
													<div class="col-md-6 col-12 text-center">
														<div class="c100 p60 big green"> <span>60$</span>
															<div class="slice">
																<div class="bar"></div>
																<div class="fill"></div>
															</div>
														</div>
														<h6 class="blue">Average Yearly Income</h6>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
									
										<div class="col-lg-8 col-12 offset-lg-2 ">
											<div class="registerd-user">
												<div class="media align-items-center">
													<i class="fa fa-users"></i>
													<div class="media-body">
														<h2>registerd users</h2>
													</div>
													<h3>{{totalRegisterUsers}}</h3>
												</div>
											</div>
										</div>
									</div>

									<div class="bottom tickets">
										<div class="row">
											<div class="col-12 text-center">
												<h2>Revenue Generated Per Month</h2>
											</div>
											<div class="col-12 text-right">
												<select name="" id="" v-model="selectedYear" @change="getGraphData">
													<option value="">Select Year</option>
													 <option :key="year" v-for="year in years" :value="year">{{ year }}</option>
												</select>
											</div>
										</div>

								        <div class="chart-main position-relative">
											<div class="row">
												<div class="col-xl-1 col-12">
												<h4>Activities</h4>
												<br />
												</div>
												<div class="col-12">
												 <BarChart :label="`Total User Registration`" v-if="dashboardGraph.length" :data="dashboardGraph"/>
												</div>
											</div>
											<div class="row">
												<div class="col-12 text-center">
												<h6>Months</h6>
												</div>
											</div>
											</div>

									</div>
									<div class="row">
										<div class="col-12">
											<h4>Activity Log</h4>
										</div>
									</div>
									<div class="clearfix"></div>
									<div class="maain-tabble table-responsive">
										<table class="table table-striped table-bordered zero-configuration">
											<thead>
												<tr>
													<th>s.no</th>
													<th>Activity</th>
													<th>Date</th>
													<th>time</th>
												</tr>
											</thead>
											<tbody v-if="activityLogs != '' ">
												<tr v-for="(activity,index) in activityLogs" :key="index">
													<td>{{activity.id}}</td>
													<td>{{activity.logs}}</td>
													<td>{{dateFormat(activity.created_at)}}</td>
													<td>10:50 AM</td>
												</tr>
											</tbody>
											<tbody v-else>
												<tr>
													<td colspan="4" align="center">No Data Found!...</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
</layout>
</div>
</template>

<script>
import BarChart from './BarChart.vue'
import Layout from '../../../layout/Layout.vue'
import moment from 'moment';
export default {
  components: {
    BarChart,Layout
  },
  data() {
    return {
      selectedYear: '2021',
	  totalRegisterUsers:'',
	  activityLogs:[],
	  dashboardGraph: [],
     }
     },

      async created(){	
	  this.getTotalUsers();
	  this.getActivityLogs();
	  this.getGraphData();	
      },

	computed:{
	  years: () => {
      let today = new Date();
      let currentYear = today.getFullYear();
      let last10Years = new Date(today.setFullYear(today.getFullYear() - 5)).getFullYear();
      let years = [];
      for (var i = currentYear; i >= last10Years; i--) {
        years.push(i);
      }
      return years;
    },
	},
	methods:{
	dateFormat : function (date) {
    return moment(date, 'YYYY-MM-DD').format("MM/D/YYYY");
    },
	async getTotalUsers(){
		let response = 	await axios.get('getTotalUsers');
		if(response){		
		this.totalRegisterUsers = response.data.total_users;
		}else{
		this.totalRegisterUsers = 0;	
		}
		},
		async getActivityLogs(){
		let response = 	await axios.get('getActivityLogs');
		if(response){		
		this.activityLogs = response.data.activity_logs;	
		}else{
		this.$toasted.error('No Data Found!...');	
		}
		},
		async getGraphData(){		
		let response = 	await axios.get('getGraphData',{params:{year:this.selectedYear}});
		if(response){	
		this.dashboardGraph = response.data.graphdata;
		}else{
		this.$toasted.error('No Data Found!...');	
		}
		}

}
}

</script>
<style scoped>
.content-body {
    margin-top: 4%;
}
</style>