<template>
  <div>
    <section class="login-main">
      <div class="container">
        <div class="login-inner">
          <div class="row align-items-center">
            <div class="col-lg-6 col-12">
              <div class="left">
                <img :src="base_url+'/images/login.png'" class="img-fluid" alt="" />
              </div>
            </div>
            <div class="col-lg-6 col-12">
              <div class="right">
                <img
                  :src="base_url+'/images/login-login-logo.png'"
                  class="img-fluid"
                  alt=""
                />
                <h1>Login to Your Account</h1>
				     <ValidationObserver ref="form">
			           <form>
                  <div class="row">
                    <div class="col-12 form-group">
                      <ValidationProvider
                        rules="required|email"
                        name="Email"
                        v-slot="{ errors }"
                      >
                        <input
                          type="email"
                          class="form-control"
                          placeholder="Enter Email Address"
                          v-model="formData.email"
                        />
                        <span class="error">{{ errors[0] }}</span>
                      </ValidationProvider>
                      <i class="fa fa-envelope"></i>
                      </div>
                      <div>
                        <span v-if="errors.email" class="error">{{errors.email[0]}}</span>
                      </div> 
                    <div class="col-12 form-group position-relative">
                      <ValidationProvider
                        rules="required"
                        name="Password"
                        v-slot="{ errors }"
                      >
                        <input
                          type="password"
                          id="password"
                          class="form-control"
                          placeholder="Enter Password"
                          v-model="formData.password"
                        />
                        <span class="error">{{ errors[0] }}</span>
                      </ValidationProvider>
                      <i class="fa fa-lock"></i>
                      <button type="button" class="view-btn position-absolute" @click="togglePassword">
                        <i class="fa fa-eye-slash"></i>
                      </button>
                    </div>
                     <div>
                        <span v-if="errors.password" class="error">{{errors.password[0]}}</span>
                      </div>
                  </div>
                  <div class="d-flex justify-content-between">
                    <div class="">
                      <label class="login-check"
                        >Remember Me
                        <input type="checkbox" />
                        <span class="checkmark"></span
                      ></label>
                    </div>
                    <div class="">
                      <a data-toggle="modal" data-target=".modal-1"
                        class="forgot"
                      >
                        Forgot Password?</a>
                    </div>
                  </div>
                  <button type="submit" class="yel-btn" @click.prevent="SignIn()">login</button>
                  <div class="col-12 text-center">
                    <a href="#" class="back"
                      ><i class="fa fa-arrow-left"></i>back to website</a
                    >
                  </div>
                </form>
	           </ValidationObserver>
            
                <!--login modal start here-->

                <!-- Modal -->
                <div
                  class="modal fade modal-1"
                  id="forgot-password"
                  tabindex="-1"
                  role="dialog"
                  aria-labelledby="exampleModalCenterTitle"
                  aria-hidden="true"
                >
                  <div
                    class="modal-dialog modal-dialog-centered"
                    role="document"
                  >
                    <div class="modal-content">
                      <div class="forget-pass">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
                        <div class="modal-body">
                        <ValidationObserver ref="form" v-slot="{handleSubmit}">
                           <h1>Password Recovery</h1>
                           <form action="" ref="forogtPassword" @submit.prevent="handleSubmit(send)">
                              <div class="row">
                                 <div class="col-12 form-group">
                                    <ValidationProvider
                                       rules="required|email"
                                       name="Email"
                                       v-slot="{ errors }"
                                       >
                                       <input
                                          type="email"
                                          class="form-control"
                                          placeholder="Enter Email Address"
                                          v-model="formData.email"
                                          />
                                       <span class="error">{{ errors[0] }}</span>
                                    </ValidationProvider>
                                    <i class="fa fa-envelope"></i>
                                 </div>
                                 <div class="col-12">
                                    <button type="submit"
                                       class="yel-btn"
                                       >
                                    Continue
                                    </button>
                                 </div>
                                 <div class="col-12 text-center">
                                    <!-- <router-link :to="{path:'/admin/login'}" class="back"
                                       ><i class="fa fa-arrow-left"></i>back to website</router-link
                                       > -->
                                 </div>
                              </div>
                           </form>
                        </ValidationObserver>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!--login modal end here-->

                <!--forgot step 2 start here-->

                <!-- Button trigger modal -->

                <!-- Modal -->
                <div
                  class="modal fade modal-2"
                  id="verification-code"
                  tabindex="-1"
                  role="dialog"
                  aria-labelledby="exampleModalLabel"
                  aria-hidden="true"
                >
                  <div
                    class="modal-dialog modal-dialog-centered"
                    role="document"
                  >
                    <div class="modal-content">
                      <div class="forget-pass">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
                        <div class="modal-body">
                          <h1>Password Recovery</h1>
                           <ValidationObserver ref="form" v-slot="{handleSubmit}">
                          <form action="" @submit.prevent="handleSubmit(verifyCode)">
                            <div class="row">
                              <div class="col-12 form-group">
                                   <ValidationProvider
                                       rules="required"
                                       name="Verify Code"
                                       v-slot="{ errors }"
                                       >
                                       <input
                                          type="number"
                                          class="form-control"
                                          placeholder="Enter Your Verification Code"
                                          v-model="verify_code"
                                          />
                                       <span class="error">{{ errors[0] }}</span>
                                    </ValidationProvider>
                                <i class="fas fa-pencil-alt"></i>
                              </div>
                              <!-- <div class="col-12 text-right">
                                <button type="button" class="code-txt">
                                  Didn’t Receive Code? Send it Again
                                </button>
                              </div> -->
                              <div class="col-12">
                                 <button type="submit"
                                       class="yel-btn"
                                       >
                                    Continue
                                    </button>
                              </div>
                              <!-- <a
                                href="#"
                                data-dismiss="modal"
                                aria-label="Close"
                                ><i class="fa fa-arrow-left"></i> back to
                                login</a
                              > -->
                            </div>
                          </form>
                           </ValidationObserver>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal -->
                <div
                  class="modal fade modal-3"
                  id="password-modal"
                  tabindex="-1"
                  role="dialog"
                  aria-labelledby="exampleModalLabel"
                  aria-hidden="true"
                >
                  <div
                    class="modal-dialog modal-dialog-centered"
                    role="document"
                  >
                    <div class="modal-content">
                      <div class="forget-pass">
                   				<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
                        <div class="modal-body">
                          <h1>Password Recovery</h1>
                          <ValidationObserver ref="form" v-slot="{handleSubmit}">
                          <form action="" ref="chnagePassword" @submit.prevent="handleSubmit(passwordUpdate)">
                            <div class="row">
                       <div class="col-12 form-group position-relative">
                      <button type="button" class="view-btn position-absolute">
                      </button>
                    </div>      
                      <div class="col-12 form-group position-relative">
                      <ValidationProvider
                        rules="required"
                        name="Password"
                        v-slot="{ errors }"
                      >
                        <input
                          :type="passwordEye" 
                          class="form-control"
                          placeholder="Enter  New Password"
                          v-model="changePassword.password"
                          name="password" id="password" 
                        />
                        <span class="error">{{ errors[0] }}</span>
                      </ValidationProvider>
                      <i class="fa fa-lock"></i>
                      <button type="button" class="view-btn position-absolute" @click="togglePasswordEye('passwordEye','passwordClass')" :class="passwordClass">
                        <i class="fa fa-eye-slash"></i>
                      </button>
                       <span v-if="errors.password" class="error">{{errors.password[0]}}</span>
                       </div>   
                     <div class="col-12 form-group position-relative">
                      <ValidationProvider
                        rules="required"
                        name="PAssword Confirmation"
                        v-slot="{ errors }"
                      >
                        <input
                          type="password"
                          class="form-control"
                          placeholder="Enter Passsword Confirmation"
                          v-model="changePassword.passwordconfirmation"
                          name="password_confirmation" id="password_confirmation"
                        />
                        <span class="error">{{ errors[0] }}</span>
                      </ValidationProvider>
                      <i class="fa fa-lock"></i>
                      <button type="button" class="view-btn position-absolute" @click="togglePasswordConfirmation">
                        <i class="fa fa-eye-slash"></i>
                      </button>
                       <span v-if="errors.password_confirmation" class="error">{{errors.password_confirmation[0]}}</span>
                       </div>   
                              <div class="col-12">
                                <button
                                  type="submit"
                                  class="yel-btn" 
                                >
                                  Update
                                </button>
                              </div>
                              <div class="col-12 text-center">
                                    <!-- <router-link :to="{path:'/admin/login'}" class="back"
                                       ><i class="fa fa-arrow-left"></i>back to website</router-link
                                       > -->
                                 </div>
                            </div>
                          </form>
                        </ValidationObserver>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--forgot step 2 end here-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
	export default {
	name: "Login",
	data() {
		return {
		   errors:[],
       base_url:base_url,
		   formData: {
			 email: "",
			 password: "",
       role:'admin'
		   },
       changePassword: {
			 email: "",
			 password: "",
       role:'admin'
		   },
       verify_code:"",
		   token: "",
       passwordClass : 'fa-eye',
       passwordEye: 'password',
	  	 }
	},
	methods: {
    send(){
		axios({
		url: "forgotPassword",
		method: "get",
        params:{
        email:this.formData.email    
        }
		  }).then((response) => {
        this.$toasted.success('Forgot password verification code sent to your register email').goAway(2000);  
        this.email = "";
        $('#forgot-password').hide();
        $('#verification-code').addClass('modal fade modal-1 show');
        $('#verification-code').css('display', 'block');

        }).catch((err) => {
        this.$toasted.error(err.response.data.message).goAway(2000);
        })
		},
      verifyCode(){
      axios({
      url: "verifyCode",
      method: "get",
          params:{
          verify_code:this.verify_code   
          }
        }).then((response) => {
          this.$toasted.success(response.data.message).goAway(2000); 
          $('#verification-code').hide();
          $('#password-modal').addClass('modal fade modal-1 show');
          $('#password-modal').css('display', 'block');
  
        }).catch((err) => {
        this.$toasted.error(err.response.data.message).goAway(2000);
        })  
      },
   		passwordUpdate(){
		  axios({
		  url: "changePassword",
	  	method: "post",
        data:{
        email:this.formData.email,
        password:this.changePassword.password,  
        password_confirmation:this.changePassword.passwordconfirmation,  
        }
	  	}).then((response) => {
        this.$toasted.success(response.data.message).goAway(2000); 
        	setTimeout(function () {
                         window.location.reload();
                        self.$router.self();
                    }, 1000);  
        this.$router.push('/admin/login'); 
		  }).catch((error) => {
      this.errors = error.response.data.errors;    
		  this.$toasted.error(error.response.data.message).goAway(2000);
		  })
		  },
		SignIn() {  
		axios({
		url: "login",
		method: "post",
		data: this.formData,
		})
		.then((response) => {  
		localStorage.setItem("admin", response.data.user);
    localStorage.setItem('isLogin',1);
    localStorage.setItem('userType','admin');
    localStorage.setItem('access-token', response.data.token);
		this.$router.push({name:'dashboard'});
		})
		.catch((error) => {
    this.errors = error.response.data.errors;
		this.$toasted.error(error.response.data.message).goAway(2000);
		});
		
		},
    togglePassword(){
    var type = $('#password').attr("type"); 
    if(type === 'password' ){ 
    $('#password').attr("type", "text");
    }else{
    $('#password').attr("type", "password");
    } 
    },

     togglePasswordEye(passwordVar,classVar){
        this[passwordVar] = this[passwordVar] == 'password'?"text": "password";
        this[classVar] = this[passwordVar] == 'password'?"fa-eye": "fa-eye-slash";
      },

    togglePasswordConfirmation(){
    var type = $('#password_confirmation').attr("type"); 
    if(type === 'password' ){ 
    $('#password_confirmation').attr("type", "text");
    }else{
    $('#password_confirmation').attr("type", "password");
    } 
    },
	},
	};
</script>
<style scoped>
.error {
  color: red;
}
.content-body {
    margin-top: 4%;
}
</style>