<template>
<div>
<layout>
  <div class="app-content content resi-profile">
	<div class="content-wrapper">
		<div class="content-body">
			<!-- Basic form layout section start -->
			<section id="configuration">
				<div class="row">
					<div class="col-12">
						<div class="card rounded pad-20">
							<div class="card-content collapse show">
								<div class="card-body card-dashboard">
									<div class="row align-items-center">
										<div class="col-sm-6">
											<h1 class="yellow-text">Profile</h1>
										</div>
										<div class="col-sm-6 pb-2 pb-sm-0">
											<div class="attached">
												<img :src="base_url+`/uploads/${user.profile}`" class="img-fluid" alt="">
												<!-- <button type="button" name="file" class="camera-btn" onclick="document.getElementById('upload').click()"><i class="fa fa-camera"></i></button> -->
												<input type="file" id="upload" name="file">
											</div>
										</div>
									</div>
									<div class="info-head">
										<h6>Personal Information</h6>
									</div>
									<div class="info-sec">
										<div class="top">
											<div class="row">
												<div class="col-12 text-center">
												</div>
												<div class="col-12 text-right">
													<a href="#_" data-toggle="modal" data-target=".modal-4" class="blue-btn px-2 mr-1">Change Password</a>
													<router-link :to="{path:'/admin/edit-profile/'+user.id}" class="yel-btn px-5">Edit</router-link>
												</div>
											</div>
											<div class="row">
												<div class="col-12 col-xl-4 col-md-6">
													<label for="">first name</label>
													<h6>{{user.first_name}}</h6>
												</div>
												<div class="col-12 col-xl-4 col-md-6">
													<label for="">last name</label>
													<h6>{{user.last_name}}</h6>
												</div>
											</div>
											<div class="row pb-2">
												<div class="col-12 col-xl-4 col-md-6">
													<label for="">Email Address</label>
													<h6>{{user.email}}</h6>
												</div>
												<div class="col-12 col-xl-4 col-md-6">
													<label for="">Phone Number</label>
													<h6>{{user.phone_no}}</h6>
												</div>
											</div>
										</div>
										<div class="info-head info-head-2">
											<h6>Personal Information</h6>
										</div>
										<div class="top">
											<div class="row">
												<div class="col-12 col-xl-4 col-md-6">
													<label for="">Address</label>
													<h6>{{user.address}}</h6>
												</div>
												<div class="col-12 col-xl-4 col-md-6">
													<label for="">City</label>
													<h6>{{user.city}}</h6>
												</div>
											</div>
											<div class="row pb-2">
												<div class="col-12 col-xl-4 col-md-6">
													<label for="">County</label>
													<h6>{{user.country}}</h6>
												</div>
												<div class="col-12 col-xl-4 col-md-6">
													<label for="">Postcode</label>
													<h6>{{user.post_code}}</h6>
												</div>
												<div class="col-12">
													<label for="">Country</label>
													<h6>{{user.country}}</h6>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>

  <div class="modal fade modal-4" id="password-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="forget-pass pt-2">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">×</span> </button>
					<div class="modal-body">
						<h1 class="text-center">Change Password</h1>
						<form action="" ref="changePassword">
							<div class="row mt-3">
								<div class="col-12 form-group">
									<div class="d-sm-flex justify-content-between align-items-center">
										<label for="">Current Password <span class="red-text">*</span></label>
                                         <input type="password" id="old_password" name="Current Password" placeholder="Enter Current Password" class="w-100"  v-model="currentPassword">
										<button type="button" class="view-btn position-absolute"><i @click="toggleCurrantPassword" class="fa fa-eye-slash"></i> </button>
									</div>
                                <span v-if="errors.currentPassword" class="error">{{errors.currentPassword[0]}}</span>
								</div>
								<div class="col-12 form-group">
									<div class="d-sm-flex justify-content-between align-items-center">
										<label for="">New Password <span class="red-text">*</span></label>
                                         <input type="password" id="new_password" name="New Password" placeholder="Enter New Password" class="w-100"  v-model="newPassword">
										<button type="button" class="view-btn position-absolute"><i @click="toggleNewPassword" class="fa fa-eye-slash"></i> </button>
									</div>
                                 <span v-if="errors.newPassword" class="error">{{errors.newPassword[0]}}</span>
								</div>
								<div class="col-12 form-group">
									<div class="d-sm-flex justify-content-between align-items-center">
										<label for="">Confirm Password <span class="red-text">*</span></label>
                                         <input type="password" id="password_confirmation" name="Confirm Password" placeholder="Enter Confirm Password" class="w-100"  v-model="confirmPassword">
										<button type="button" class="view-btn position-absolute"><i @click="tooglePasswordConfirmation"  class="fa fa-eye-slash"></i> </button>
									</div>
                                <span v-if="errors.confirmPassword" class="error">{{errors.confirmPassword[0]}}</span>
								</div>
                                <div class="col-12 text-center">
                                <button type="button" class="yel-btn"  @click="changePassword(user.id)" aria-label="Close">update</button>
                                </div>
                            </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	   </div>


	   
        </layout>
    </div>
</template>
<script>
import Layout from '../../../layout/Layout.vue';
export default {
    name:'Profile',
    data(){
        return{
            user:'',
            id:'',
            checkCurrantPass:'',
            currentPassword:'',
            newPassword:'',
            confirmPassword:'',
            checkPassErr:'',
			errors:[],
			base_url:base_url
        }
    },
    created(){
    this.viewProfile()
    },
    components:{Layout},
    methods:{
		toggleCurrantPassword(){    
                var type = $('#old_password').attr("type"); 
                if( type === 'password' ){
                $('#old_password').attr("type", "text");
                }else{
                $('#old_password').attr("type", "password");
                }    
                },  
            toggleNewPassword(){    
                var type = $('#new_password').attr("type"); 
                if( type === 'password' ){
                $('#new_password').attr("type", "text");
                }else{
                $('#new_password').attr("type", "password");
                }    
                },
            tooglePasswordConfirmation(){    
                var type = $('#password_confirmation').attr("type"); 
                if( type === 'password' ){
                $('#password_confirmation').attr("type", "text");
                }else{
                $('#password_confirmation').attr("type", "password");
                }    
                },
			changePassword(id){    
				axios({
				url:'changePass',
				method:'post',  
				data:{
				id:id,
				currentPassword:this.currentPassword,
				newPassword:this.newPassword,
				confirmPassword:this.confirmPassword
				}  
				}).then((response)=>{
				if(response.status == 200){ 
				$('.modal-backdrop').remove();       
				$('.modal-content').hide(); 
				this.$toasted.success(response.data.message).goAway(2000); 
				setTimeout(function () {
                        window.location.reload();
                        self.$router.push({path:'/admin/profile'});
                    }, 1000);   
				}    
				}).catch((error)=>{
			      this.errors = error.response.data.errors;  	
				this.$toasted.error(error.response.data.message).goAway(2000);  
				});
			},      
        viewProfile(){   
        this.id = localStorage.getItem('admin')    
        try{
        axios({
        url:'viewProfile?id='+this.id,
        method:'get',    
        }).then((response)=>{
        if(response.status == 200){
        //alert(response.data)    
        console.log(response.data)    
        this.user = response.data
        }    
        })    
        }catch(err){
        console.log(err)    
        }    
        }
    }
}
</script>
<style scoped>
.error{
    color:red
}
.content-body {
    margin-top: 4%;
}
.error[data-v-3d4fb27a] {
    color: red;
    font-size: 11px;
    margin-top: 7%;
    left: 32%;
}
</style>