<template>
   <div>
      <layout>
         <div class="app-content content users">
            <div class="content-wrapper">
               <div class="content-body">
                  <!-- Basic form layout section start -->
                  <section id="configuration">
                     <div class="row">
                        <div class="col-12">
                           <div class="card rounded pad-20">
                              <div class="card-content collapse show">
                                 <div class="card-body card-dashboard">
                                    <div class="user-top">
                                       <div class="row">
                                          <div class="col-12">
                                             <h1 class="yellow-text">Quotation Log</h1>
                                          </div>
                                       </div>
                                    </div>
                                     <label for="sort">sort by</label>
                                          <div class="row">
                                            
                                            <div class="col-xl-4 col-lg-6 col-md-10 col-12">
                                             From: <date-picker v-bind:style="{'display':'inline-block'}" v-model="from" valueType="format">
                                                     </date-picker>
                                            </div> 
                                            <div class="col-xl-4 col-lg-6 col-md-10 col-12">
                                                 To: <date-picker v-model="to" valueType="format"></date-picker>
                                                &nbsp; &nbsp;<button class="btn btn-success" @click="getData">Apply</button>
                                            </div>
                                              <div class="col-xl-4 col-lg-6 col-md-10 col-12">
                                                <label>Search 
                                                <input type="text" v-model="search" class="form-control form-control-sm" @keyup="getQuatations">
                                                </label>
                                              </div>
                                        </div>
                                    <div class="clearfix"></div>
                                    <div class="maain-tabble table-responsive">
                                    <table class="table">
                                             <thead>
                                                   <tr class="text-center">
                                                   <th>S.No</th>
                                                   <th>QUOTATION Id</th>
                                                   <th>Date</th>
                                                   <th>Time</th>
                                                   <th>Status</th>
                                                   <th>Actions</th>
                                                   </tr>
                                                   </thead>
                                                            <tbody v-if="quatations != '' ">
                                                            <tr  class="text-center" v-for="(qoute, index) in quatations" :key="index">
                                                            <td>{{++index}}</td>
                                                            <td>{{qoute.id}}</td>
                                                            <td>{{dateFormat(qoute.date)}}</td>
                                                            <td>{{qoute.time}}</td>
                                                            <td v-if="qoute.status == 'Received' " v-bind:style="{'color':'green','font-weight':'bolder'}">Received</td>
                                                            <td v-if="qoute.status == 'Expired' "  v-bind:style="{'color':'red','font-weight':'bolder'}">Expired</td>
                                                            <td v-if="qoute.status == 'Pending' "  v-bind:style="{'color':'orange','font-weight':'bolder'}">Pending</td>
                                                            <td v-if="qoute.status == 'Cancelled'" v-bind:style="{'color':'red','font-weight':'bolder'}">Cancelled</td>
                                                            <td v-if="qoute.status == 'Completed'" v-bind:style="{'color':'green','font-weight':'bolder'}">Completed</td>
                                                            <td><div class="btn-group mr-1 mb-1">
                                                                <button type="button" class="btn btn-drop-table btn-sm" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></button>
                                                                <div class="dropdown-menu"> <router-link :to="{path: '/admin/user-quotation-detail/'+qoute.id }" class="dropdown-item"><i class="fa fa-eye"></i>View</router-link> </div>
                                                                </div></td>
                                                            </tr>
                                                        </tbody>
                                                        <tbody v-else>
                                                            <tr>
                                                               <td colspan="6" align="center">No Data Found!...</td>
                                                            </tr>
                                                        </tbody>
                                                        </table>
                                                        <pagination :data="quatations" @pagination-change-page="getQuatations"></pagination>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </section>
                        </div>
                     </div>
                  </div>
      </layout>
   </div>
</template>
<script>
import Layout from '../../../layout/Layout.vue';
import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';
import moment from 'moment';
export default {
    name:'QuotationLog',
    components:{Layout,DatePicker},
    data(){
    return{
    quatations:{}, 
    search:'', 
    entries:10,
    to:'',
    from:''  
    }   
    },
    created(){  
        this.getQuatations() 
    },
    methods:{
     dateFormat : function (date) {
     return moment(date, 'YYYY-MM-DD').format("MM/D/YYYY");
      },
    async getQuatations(page = 1){
    try{
    let response = await axios.get('getQuations?page='+page+'&entries='+this.entries+'&search='+this.search);
    if(response.data){
    this.quatations = response.data.qoutations.data
    console.log(this.quatations)  
    }   
    }catch(err){
    console.log(err);   
    }   
   
    },
    
      getData:function(){
         try{
         axios({
         url:'users',
         method:'get',
         params:{
         from:this.from,
         to:this.to,
         status:'user-qoute-filter'
         }
         }).then((response)=>{
         if(response.status == 200){
         console.log(response.data)
         this.users = response.data;         
        }
      })
      }catch(err){
       console.warn(err)
      }
    },   
    }
}
</script>
<style scoped>
.content-body {
    margin-top: 4%;
}
</style>