<template>
    <div>
<layout>
    <div class="app-content content user-quote-detail">
	<div class="content-wrapper">
		<div class="content-body">
			<section id="configuration">
				<div class="row">
					<div class="col-12">
						<div class="card rounded pad-20">
							<div class="card-content collapse show">
								<div class="card-body card-dashboard">
									<div class="row">
										<div class="col-12">
											<h1><router-link :to="{path: '/admin/order-log'}"><i class="fa fa-angle-left"></i></router-link></h1>
											<div class="pro-info">
												<img :src="base_url+`/uploads/${order_log.user.profile}`" class="img-fluid" alt="">
												<h4>User ID: {{order_log.user.id}}</h4>
												<h5>{{order_log.user.first_name}}</h5>
											</div>
										</div>
									</div>
									<form action="">
										<div class="info-head d-sm-flex justify-content-between mt-5">
											<h6>Quotation Details</h6>
											<h6>Quotation Id: {{order_log.quotation_details.quote_id}}</h6>
										</div>
										<div class="info-sec rounded-0">
											<div class="top">
													<div class="row">
													  <div class="col-12 text-right order-status">
														<h3>Status: </h3>
														<select name="" v-model="order_log.status">
															<option value="Inprocess">Inprocess</option>
															<option value="Ongoing">Ongoing</option>
															<option value="Completed">Completed</option>
														</select>
													</div>
												   </div>
												<div class="row">
													<div class="col-12 col-xl-4 col-md-6">
														<label for="">Package Type</label>
														<h6>{{order_log.quotation_details.package.package_type}}</h6>
													</div>
													<div class="col-12 col-xl-4 col-md-6">
														<label for="">Quantity</label>
														<h6>{{order_log.quotation_details.quantity.quantity}}</h6>
													</div>
													<div class="col-12 col-xl-4 col-md-6">
														<label for="">Dimensions Unit</label>
														<h6>{{order_log.quotation_details.length_unit}}</h6>
													</div>
													<div class="col-12 col-xl-4 col-md-6">
														<label for="">Length</label>
														<h6>{{order_log.quotation_details.length}}</h6>
													</div>
													<div class="col-12 col-xl-4 col-md-6">
														<label for="">Width</label>
														<h6>{{order_log.quotation_details.width}}</h6>
													</div>
													<div class="col-12 col-xl-4 col-md-6">
														<label for="">Height</label>
														<h6>{{order_log.quotation_details.height}}</h6>
													</div>
													<div class="col-12 col-xl-4 col-md-6">
														<label for="">Weight Unit</label>
														<h6>{{order_log.quotation_details.weight_unit}}</h6>
													</div>
													<div class="col-12 col-xl-4 col-md-6">
														<label for="">Weight</label>
														<h6>{{order_log.quotation_details.weight}}</h6>
													</div>
												</div>
											</div>
										</div>
										<div class="info-head rounded-0">
											<h6>Loading Details</h6>
										</div>
										<div class="info-sec rounded-0">
											<div class="top">
												<div class="row">
													<div class="col-12 col-xl-4 col-md-6">
														<label for="">Address</label>
													 <h6>{{order_log.address.collection_address}}</h6>
													</div>
													<div class="col-12 col-xl-8 col-md-6">
														<label for="">City</label>
													 <h6>{{order_log.address.collection_city}}</h6>
													</div>
													<div class="col-12 col-xl-4 col-md-6">
														<label for="">State</label>
														 <h6>{{order_log.address.collection_region}}</h6>
													</div>
													<div class="col-12 col-xl-8 col-md-6">
														<label for="">Postal Code</label>
															 <h6>{{order_log.address.collection_postcode}}</h6>
													</div>
													<div class="col-12 col-xl-4 col-md-6">
														<label for="">Country</label>
														 <h6>{{order_log.address.collection_country}}</h6>
													</div>
													<div class="col-12 col-xl-8 col-md-6">
														<label for="">Reference Number (If applicable)</label>
														<h6>12345678910</h6>
													</div>
												</div>
											</div>
										</div>
											<div class="info-head rounded-0">
											<h6>Delivery  Details</h6>
										</div>
											<div class="info-sec rounded-0">
											<div class="top">
												<div class="row">
													<div class="col-12 col-xl-4 col-md-6">
														<label for="">Address</label>
													 <h6>{{order_log.address.delivery_address}}</h6>
													</div>
													<div class="col-12 col-xl-8 col-md-6">
														<label for="">City</label>
													 <h6>{{order_log.address.delivery_city}}</h6>
													</div>
													<div class="col-12 col-xl-4 col-md-6">
														<label for="">State</label>
														 <h6>{{order_log.address.delivery_region}}</h6>
													</div>
													<div class="col-12 col-xl-8 col-md-6">
														<label for="">Postal Code</label>
															 <h6>{{order_log.address.delivery_postcode}}</h6>
													</div>
													<div class="col-12 col-xl-4 col-md-6">
														<label for="">Country</label>
														 <h6>{{order_log.address.delivery_country}}</h6>
													</div>
													<div class="col-12 col-xl-8 col-md-6">
														<label for="">Reference Number (If applicable)</label>
														<h6>12345678910</h6>
													</div>
												</div>
											</div>
									 	</div>
										 	<div class="info-head rounded-0">
											<h6>Delivery  Details</h6>
										</div>
											<div class="info-sec rounded-0">
											<div class="top">
												<div class="row">
													<div class="col-12 col-xl-4 col-md-6">
														<label for="">Address</label>
													 <h6>{{order_log.address.delivery_address}}</h6>
													</div>
													<div class="col-12 col-xl-8 col-md-6">
														<label for="">City</label>
													 <h6>{{order_log.address.delivery_city}}</h6>
													</div>
													<div class="col-12 col-xl-4 col-md-6">
														<label for="">State</label>
														 <h6>{{order_log.address.delivery_region}}</h6>
													</div>
													<div class="col-12 col-xl-8 col-md-6">
														<label for="">Postal Code</label>
															 <h6>{{order_log.address.delivery_postcode}}</h6>
													</div>
													<div class="col-12 col-xl-4 col-md-6">
														<label for="">Country</label>
														 <h6>{{order_log.address.delivery_country}}</h6>
													</div>
													<div class="col-12 col-xl-8 col-md-6">
														<label for="">Reference Number (If applicable)</label>
														<h6>12345678910</h6>
													</div>
												</div>
													<div class="row" >
													<div class="col-12 text-center">
														<button type="button" class="yel-btn"  @click.prevent.stop="chanStatus(order_log.id,order_log.status)">submit</button>
													</div>
												</div>
											</div>
									 	</div>		
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
</layout>
    </div>
</template>
<script>
import Layout from '../../../layout/Layout.vue';
import moment from 'moment';
export default {
    name:'UserPaymentLogDetails',
    components:{Layout},
			data(){
		    return{
		    id:'',	
			order_log:'',
			base_url:base_url,
			order_status:'', 
			quoteId:''	
			}		
			},
            created(){		
            try{
            this.id = this.$route.params.id;
            axios({
            url:'getUserOrderDetails/?id='+this.id,
            method:'get',
            }).then((response)=>{
            if(response.status == 200){
            this.order_log   = response.data;
            }
            })
            }catch(err){
                console.warn(err)
            }
        },
		methods:{
			 dateFormat : function (date) {
                return moment(date, 'YYYY-MM-DD').format("MM/D/YYYY");
             },
	    	async chanStatus(id,status){
				let fd = new FormData();
				fd.append('id',id);
				fd.append('status',status)
				let response = await axios.post('changeOrderStatus',fd);	
				if(response){
				this.$toasted.success(response.data.message);
				setTimeout(function () {
							window.location.reload();
							self.$router.self();
						}, 1000);  
				}else{
				this.$toasted.error(response.data.message);		
				}
				}
		}
}
</script>
<style scoped>
.content-body {
    margin-top: 4%;
}
</style>