<template>
    <div>
    <layout>
    <div class="app-content content user-quote-detail">
	<div class="content-wrapper">
		<div class="content-body">
			<section id="configuration">
				<div class="row">
					<div class="col-12">
						<div class="card rounded pad-20">
							<div class="card-content collapse show">
								<div class="card-body card-dashboard">

									<div class="row">
										<div class="col-12">
											<h1><router-link :to="{path: '/admin/quotation-log'}"><i class="fa fa-angle-left"></i></router-link></h1>
											<div class="pro-info">
												<img :src="base_url+`/uploads/${quotation.user.profile}`" class="img-fluid" alt="">
												<h4>User ID: {{quotation.user.id}}</h4>
												<h5>{{quotation.user.first_name}}</h5>
											</div>
										</div>
									</div>
									<form action="">
										<div class="info-head d-sm-flex justify-content-between mt-5">
											<h6>Quotation  Details</h6>
											<h6>Quotation Id: {{quotation.id}}</h6>
										</div>
										<div class="info-sec rounded-0">
											<div class="top">
												<div class="row">
													<div class="col-12 text-right">
														<h3>Status: <span class="gray">{{quotation.status}}</span></h3>
														<h3>cost: <span>{{quotation.quotation_price}}</span></h3>
													</div>
												</div>
												<div class="row">
													<div class="col-12 col-xl-4 col-md-6">
														<label for="">Package Type</label>
														<h6>{{quotation.quotation_details.package.package_type}}</h6>
													</div>
													<div class="col-12 col-xl-4 col-md-6">
														<label for="">Quantity</label>
														<h6>{{quotation.quotation_details.quantity.quantity}}</h6>
													</div>
													<div class="col-12 col-xl-4 col-md-6">
														<label for="">Dimensions Unit</label>
														<h6>{{quotation.quotation_details.length_unit}}</h6>
													</div>
													<div class="col-12 col-xl-4 col-md-6">
														<label for="">Length</label>
														<h6>{{quotation.quotation_details.length}}</h6>
													</div>
													<div class="col-12 col-xl-4 col-md-6">
														<label for="">Width</label>
														<h6>{{quotation.quotation_details.width}}</h6>
													</div>
													<div class="col-12 col-xl-4 col-md-6">
														<label for="">Height</label>
														<h6>{{quotation.quotation_details.height}}</h6>
													</div>
													<div class="col-12 col-xl-4 col-md-6">
														<label for="">Weight Unit</label>
														<h6>{{quotation.quotation_details.weight_unit}}</h6>
													</div>
													<div class="col-12 col-xl-4 col-md-6">
														<label for="">Weight</label>
														<h6>{{quotation.quotation_details.weight}}</h6>
													</div>
												</div>
											</div>
										</div>
										<div class="info-head rounded-0">
											<h6>Loading Details</h6>
										</div>
										<div class="info-sec rounded-0">
											<div class="top">
												<div class="row">
													<div class="col-12 col-xl-4 col-md-6">
														<label for="">Address</label>
													 <h6>{{quotation.address.collection_address}}</h6>
													</div>
													<div class="col-12 col-xl-8 col-md-6">
														<label for="">City</label>
													 <h6>{{quotation.address.collection_city}}</h6>
													</div>
													<div class="col-12 col-xl-4 col-md-6">
														<label for="">State</label>
														 <h6>{{quotation.address.collection_region}}</h6>
													</div>
													<div class="col-12 col-xl-8 col-md-6">
														<label for="">Postal Code</label>
															 <h6>{{quotation.address.collection_postcode}}</h6>
													</div>
													<div class="col-12 col-xl-4 col-md-6">
														<label for="">Country</label>
														 <h6>{{quotation.address.collection_country}}</h6>
													</div>
													<div class="col-12 col-xl-8 col-md-6">
														<label for="">Reference Number (If applicable)</label>
														<h6>12345678910</h6>
													</div>
												</div>
											</div>
										</div>
										<div class="info-head rounded-0">
											<h6>Delivery  Details</h6>
										</div>
											<div class="info-sec rounded-0">
											<div class="top">
												<div class="row">
													<div class="col-12 col-xl-4 col-md-6">
														<label for="">Address</label>
													 <h6>{{quotation.address.delivery_address}}</h6>
													</div>
													<div class="col-12 col-xl-8 col-md-6">
														<label for="">City</label>
													 <h6>{{quotation.address.delivery_city}}</h6>
													</div>
													<div class="col-12 col-xl-4 col-md-6">
														<label for="">State</label>
														 <h6>{{quotation.address.delivery_region}}</h6>
													</div>
													<div class="col-12 col-xl-8 col-md-6">
														<label for="">Postal Code</label>
															 <h6>{{quotation.address.delivery_postcode}}</h6>
													</div>
													<div class="col-12 col-xl-4 col-md-6">
														<label for="">Country</label>
														 <h6>{{quotation.address.delivery_country}}</h6>
													</div>
													<div class="col-12 col-xl-8 col-md-6">
														<label for="">Reference Number (If applicable)</label>
														<h6>12345678910</h6>
													</div>
												</div>
											</div>
									 	</div>
												<div class="info-head rounded-0">
											<h6>Delivery  Details</h6>
										</div>
											<div class="info-sec rounded-0">
											<div class="top">
												<div class="row">
													<div class="col-12 col-xl-4 col-md-6">
														<label for="">Address</label>
													 <h6>{{quotation.address.delivery_address}}</h6>
													</div>
													<div class="col-12 col-xl-8 col-md-6">
														<label for="">City</label>
													 <h6>{{quotation.address.delivery_city}}</h6>
													</div>
													<div class="col-12 col-xl-4 col-md-6">
														<label for="">State</label>
														 <h6>{{quotation.address.delivery_region}}</h6>
													</div>
													<div class="col-12 col-xl-8 col-md-6">
														<label for="">Postal Code</label>
															 <h6>{{quotation.address.delivery_postcode}}</h6>
													</div>
													<div class="col-12 col-xl-4 col-md-6">
														<label for="">Country</label>
														 <h6>{{quotation.address.delivery_country}}</h6>
													</div>
													<div class="col-12 col-xl-8 col-md-6">
														<label for="">Reference Number (If applicable)</label>
														<h6>12345678910</h6>
													</div>
												</div>
													<div class="row">
													<ValidationObserver v-slot="{ handleSubmit }">
												    <form ref="quotationForm"  @submit.prevent.stop="handleSubmit(addQuatationPrice(quotation.id,quotation.quotation_price))">		
													<div class="col-12 col-xl-12 col-md-12">
														<p>Quotation Price</p>
													    <ValidationProvider rules="required" name="Quotation Price" v-slot="{errors}">
														<input type="number" placeholder="Enter Quotation Price"  v-model="quotation.quotation_price" class="form-control">
														<span class="error">{{errors[0]}}</span>
                                                       </ValidationProvider>
													</div>
													<div class="col-12 text-center">
														<button type="submit" class="yel-btn">submit</button>
													</div>
													</form>
													</ValidationObserver>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>
</layout>
</div>
</template>
<script>
import Layout from '../../../layout/Layout.vue';
import moment from 'moment';
export default {
    name:'UserQuotationDetails',
    components:{Layout},
	data(){
		return{
			id:'',
			user:'',
			quotation:{},
			payment:'',
			packege_service_details:'',
			pick_drop_details:'',
			base_url:base_url,
			loading:'' ,
			unloading:'',
			quatation_price:'', 
			quoteId:''
		}
	},
         created(){
                try{
                axios({
                url:'getQuoatationDetail/?id='+this.$route.params.id,
                method:'get',
                }).then((response)=>{
                if(response.status == 200){	
				this.quotation = response.data
				this.quoteId  = this.quotation.id;
				this.id              = response.data.packege_service_details.id;
				this.quatation_price = this.packege_service_details.quotation_price;
				this.loading		 = this.packege_service_details.is_loading;
				this.unloading       = this.packege_service_details.is_unloading;	
                }
                })
                }catch(err){
                console.warn(err)
            }
        },
			methods:{
			   dateFormat : function (date) {
               return moment(date, 'YYYY-MM-DD').format("MM/D/YYYY");
               },
			   	async addQuatationPrice(id,quatation_price){
				let fd = new FormData(this.$refs.quotationForm);
				fd.append('id',id);
				fd.append('quatation_price',quatation_price)
				let response = await axios.post('addQuatationPrice',fd);	
				if(response){
				this.$toasted.success(response.data.message);
				setTimeout(function () {
							window.location.reload();
				this.$router.push('/admin/quotation-log');
						}, 1000);  
				}else{
				this.$toasted.error(response.data.message);		
				}
				}
		}
}
</script>
<style scoped>
.content-body {
    margin-top: 4%;
}
.error{
	color: red;
}
</style>