<template>
    <div>
    <layout>
    <div class="app-content content view all-notifications">
	    <div class="content-wrapper">
			<div class="content-body">
				<!-- Basic form layout section start -->
				<section id="configuration" class="">
					<div class="row">
						<div class="col-12">
							<div class="card pro-main">
								<div class="row"> 
									<div class="col-12">
										<h1>notification</h1>
									</div>
									<div class="col-xl-8 offset-xl-2 col-sm-12 mt-md-5 mt-sm-3" v-if="notifications != ''">
										<div class="noti-inner-cards" v-for="(notification,index) in notifications" :key="index">
											<div class="card noti-card mt-3">
												<div class="noti-content">
													<div class="media align-items-center"> <i class="fa fa-bell" aria-hidden="true"></i>
														<div class="media-body">
															<h6>{{notification.message}}</h6>
															<small>
																<time class="media-meta text-muted yellow-text" datetime="2015-06-11T18:29:20+08:00">{{dateFormat(notification.created_at)}}</time>
															</small>
														</div>
														<span id="notification" @click="getSingleNotification(notification.url,notification.id)" class="yel-btn mt-0">View</span>
													</div>
												</div>
											</div>	
										</div>
									</div>
										<div class="col-xl-8 offset-xl-2 col-sm-12 mt-md-5 mt-sm-3" v-else>
										<div class="noti-inner-cards">
											<div class="card noti-card mt-3">
												<div class="noti-content">
													<div class="media align-items-center"> <i class="fa fa-bell" aria-hidden="true"></i>
														<div class="media-body">
															<h6>No Data Found!...</h6>
														</div>
													</div>
												</div>
											</div>
										</div>	
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
    </div>
</layout>
</div>
</template>

<script>
import Layout from '../../../layout/Layout.vue';
import DatePicker from 'vue2-datepicker';
import moment from 'moment';
export default {
    name:'OrderLog',
    components:{Layout,DatePicker},
            data(){
            return{
                user:'',
                notifications:{},
                id:'',
                from:'',
                to:''        
                }
        },
            created(){
                this.getNotifications();
            },
            methods:{
				dateFormat : function (date) {
                return moment(date, 'YYYY-MM-DD').format("MM/D/YYYY");
                },
                async getNotifications(){
			    let id = localStorage.getItem('user');		
                let response = await axios.get('getNotifications',{params:{id:id}})
                if(response){
                this.notifications = response.data.notifications 
                }else{
                this.$toasted.error(response.data.meesage) 
                }	
                },
				async getSingleNotification(url,id){		
				this.$router.push(url);  	
				this.countNotification --;
				let response = await axios.post('readNotification',{params:{id:id}})
				if(response){
				this.notifications = response.data.notifications 
				this.countNotification =response.data.count
				}else{
				this.$toasted.error(response.data.meesage) 
				}

				}
            }
    }

</script>
<style scoped>
.content-body {
    margin-top: 4%;
}
</style>